<div class="bjui-pageContent">
    <form action="<?php echo U('ProRepaymentSchedule/repay')?>" id="j_custom_form" data-toggle="validate" data-alertmsg="false">
        <input type="hidden" name="rp_id" value="{$rp_id}"  />
        <h4>第{$n_term}期</h4>
        <table class="table table-condensed table-hover" width="100%">
            <tbody>
                <tr>
                    <td>
                        <label for="debt_account" class="control-label x150">实际还款金额：</label>
                        <input type="text" name="repay_money" id="p_name" value="<?php echo round($interest + $principal - $has_repay_money, 2)?>" size="15" data-rule="required">元
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_custom_indate" class="control-label x150">打款时间：</label>
                        <input type="text" name="real_repay_time" id="pay_time" value="" data-toggle="datepicker" data-rule="required:date" size="15">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="debt_account" class="control-label x150">还款状态：</label>
                        <input type="radio" name="status" id="j_custom_status1" data-toggle="icheck" value="1" data-rule="checked" data-label="已还完&nbsp;&nbsp;">
                        <input type="radio" name="status" id="j_custom_status2" data-toggle="icheck" value="0" data-label="未还完">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="debt_account" class="control-label x150">生成流水记录：</label>
                        <input type="checkbox" name="generate_flow" id="j_custom_status1" data-toggle="icheck" value="1" data-label="">
                    </td>
                </tr>
                <tr style="display: none" class="flow">
                    <td>
                        <label for="debt_no" class="control-label x150">打款银行：</label>
                        <select name="bank_id" data-toggle="selectpicker">
                            <option value="">--请选择--</option>
                            <?php foreach($banks as $val):?>
                            <option value="<?php echo $val['bank_id']?>"><?php echo $val['account_name'].'—'.$val['bank_name']?></option>
                            <?php endforeach;?>
                        </select>
                    </td>
                </tr>
                <tr style="display: none" class="flow">
                    <td>
                        <label for="loan_remark" class="control-label x150">备注：</label>
                        <textarea name="remark" id="j_custom_note_1" cols="30" rows="2"></textarea>
                    </td>
                </tr>
<!--                <tr>
                    <td>
                    <label for="pro_desc" class="control-label x150">打款凭证：</label>
                    <div style="display: inline-block; vertical-align: middle;">
                        <div id="j_custom_pic_up" data-toggle="upload" data-uploader="<?php echo U('RepaymentRecord/upload_attachment')?>?sessionid=?" 
                             data-file-size-limit="1024000000"
                             data-file-type-exts="*.jpg;*.png;*.gif;*.mpg"
                             data-multi="true"
                             data-on-upload-success="pic_upload_success"
                             data-icon="cloud-upload"
                             data-form-data='{"mpay_id":"<?php echo $mpay_id?>","mid":"<?php echo $mid?>"}'
                             data-file-obj-name='mpay-<?php echo $mpay_id?>'></div>
                    </div>
                        <input type="hidden" name="repay_pic" value="" id="j_custom_pic">
                        <span id="j_custom_span_pic">
                    </span>
                    </td>
                </tr>-->
            </tbody>
        </table>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close" data-icon="close">取消</button></li>
        <li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
    </ul>
</div>
<script>
    function pic_upload_success(file, data) {
    var json = $.parseJSON(data)
    
    $(this).bjuiajax('ajaxDone', json)
    if (json[BJUI.keys.statusCode] == BJUI.statusCode.ok) {
        $('#j_custom_pic').val(json.content.file_path).trigger('validate')
        $('#j_custom_span_pic').html('<img src="'+ json.content.file_path +'" width="100" />')
    }
}
    $('input[name="generate_flow"]').on('ifChecked', function (event) {
        $('.flow').show();
        $('select[name="bank_id"]').attr('data-rule', 'required');
//        $('select[name="remark"]').attr('data-rule', 'required');
    });
    $('input[name="generate_flow"]').on('ifUnchecked', function (event) {
        $('.flow').hide();
        $('select[name="bank_id"]').removeAttr('data-rule');
//        $('input[name="remark"]').removeAttr('data-rule');
    });
    
</script>  