<div class="bjui-pageHeader">
    <form id="pagerForm" data-toggle="ajaxsearch" action="<?php echo U('Message/myMessage')?>" method="post">
        <input type="hidden" name="pageSize" value="${model.pageSize}">
        <input type="hidden" name="pageCurrent" value="${model.pageCurrent}">
        <input type="hidden" name="orderField" value="${param.orderField}">
        <input type="hidden" name="orderDirection" value="${param.orderDirection}">
        <input type="hidden" name="isSearch" value="1">
        <div class="bjui-searchBar">
            
            <!--<div class="pull-right">-->
                <!--<a href="#" class="btn btn-default" data-toggle="" data-icon="add" data-id="project-add">标记为已读</a>-->
            <!--</div>-->
        </div>
    </form>
</div>
<div class="bjui-pageContent tableContent">
    <table class="table table-top" >
        <thead>
            <tr>
                <th align="center" width="50"><input type="checkbox" class="checkboxCtrl" data-group="ids" data-toggle="icheck"></th>
                <th align="center" width="300">标题</th>
                <th align="center" width="300">时间</th>
               
            </tr>
        </thead>
        <tbody>
            <?php $n = 1; foreach($list as $v){?>
            <tr data-id="<?php echo $v['id']?>">
                <td align="center"><input type="checkbox" name="ids" data-toggle="icheck" value="<?php echo $v['id']?>"></td>
                <td align="center" style="cursor: pointer"><a href="<?php echo U('Message/read')?>" data-data='{"id":"<?php echo $v['id']?>"}'  data-toggle="doajax"><?php echo html_entity_decode($v['description'])?></a></td>
                <td align="center"><?php echo date('Y-m-d H:i:s', $v['addtime'])?></td>
            </tr>
            <?php }?>
        </tbody>
    </table>
</div>
<div class="bjui-pageFooter">
    <div class="pages">
        <span>每页&nbsp;</span>
        <div class="selectPagesize">
            <select data-toggle="selectpicker" data-toggle-change="changepagesize">
                <option value="30">30</option>
                <option value="60">60</option>
                <option value="120">120</option>
                <option value="150">150</option>
            </select>
        </div>
        <span>&nbsp;条，共 <?php echo $total?> 条</span>
    </div>
    <div class="pagination-box" data-toggle="pagination" data-total="<?php echo $total?>" data-page-size="30" data-page-current="1">
    </div>
</div>