<style>
.cate h5{font-weight: bold;}
.cate h5 span.glyphicon{margin-right: 6px;margin-top:2px;font-size: 14px;}
.cate ul{clear: both;overflow: hidden;}
.cate ul li{float: left;width: 92px;margin: 15px 0 0 50px;}
.cate ul li a{display: block;font-size: 13px;color: #31708f;text-align: center;opacity: 0.9;filter:Alpha(opacity=90);cursor:pointer;}
.cate ul li a span{display: block;width:50px!important;margin:0 auto 12px;height: 50px;line-height: 50px;text-align: center;color: #31708f;border:1px #c3ced5 solid;border-radius: 100%;transition:All 0.6s ease-in-out;-webkit-transition:All 0.6s ease-in-out;-moz-transition:All 0.6s ease-in-out;-o-transition:All 0.6s ease-in-out;}
.cate ul li:hover a{text-decoration: none;opacity: 1;filter:Alpha(opacity=100);}
.cate ul li:hover span{border-color: #31708f;transform:rotate(360deg);-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);}
</style>
<div class="bjui-pageContent" id="layout-1" style="padding:10px 20px;">
    <?php if($project):?>
    <div class="cate">
        <h5><span class="glyphicon glyphicon-save"></span>项目流程立项</h5>
        <ul>
            <?php foreach($project as $k=>$v):?>
            <li><a data-url="/Admin/Project/add/pre/<?php echo $v['data']?>.html" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-id="project-add"><span class="glyphicon glyphicon-list-alt h3"></span><?php echo $v['menu_name']?></a></li>
           <!-- <li><a data-url="/Admin/Project/add/pre/4.html" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-id="project-add"><span class="glyphicon glyphicon-list-alt h3"></span>知情子流程</a></li>
            <li><a data-url="/Admin/Project/add/pre/5.html" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-id="project-add"><span class="glyphicon glyphicon-list-alt h3"></span>风控审核子流程</a></li>
            <li><a data-url="/Admin/Project/add/pre/6.html" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-id="project-add"><span class="glyphicon glyphicon-list-alt h3"></span>立项会子流程</a></li>
            <li><a data-url="/Admin/Project/add/pre/7.html" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-id="project-add"><span class="glyphicon glyphicon-list-alt h3"></span>风控报告子流程</a></li>
            <li><a data-url="/Admin/Project/add/pre/8.html" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-id="project-add"><span class="glyphicon glyphicon-list-alt h3"></span>风控会子流程</a></li>
            <li><a data-url="/Admin/Project/add/pre/9.html" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-id="project-add"><span class="glyphicon glyphicon-list-alt h3"></span>投委会子流程</a></li>-->
            <?php endforeach;?>
        </ul>
    </div>
    <?php endif;?>


    <?php if($contract):?>
    <hr />
    <div class="cate">
        <h5><span class="glyphicon glyphicon-edit"></span>签约流程</h5>
        <ul>
            <?php foreach($contract as $kk=>$vv):?>
            <li><a data-url="/Admin/Project/add/pre/<?php echo $vv['data']?>.html" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-id="project-add"><span class="glyphicon glyphicon-briefcase h3"></span><?php echo $vv['menu_name']?></a></li>
          <!--  <li><a data-url="/Admin/Project/add/pre/11.html" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-id="project-add"><span class="glyphicon glyphicon-briefcase h3"></span>合同预签</a></li>
           <li><a data-url="/Admin/Project/add/pre/12.html" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-id="project-add"><span class="glyphicon glyphicon-briefcase h3"></span>合同审批</a></li>
           <li><a data-url="/Admin/Project/add/pre/13.html" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-id="project-add"><span class="glyphicon glyphicon-briefcase h3"></span>线下签约</a></li>-->
            <?php endforeach;?>
        </ul>
    </div>
    <?php endif;?>

    <?php if($loan):?>
    <hr />
    <div class="cate">
        <h5><span class="glyphicon glyphicon-ok-circle"></span>放款流程</h5>
        <ul>
            <?php foreach($loan as $kkk=>$vvv):?>
            <li><a data-url="/Admin/Project/add/pre/<?php echo $vvv['data']?>.html" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-id="project-add"><span class="glyphicon glyphicon-link h3"></span><?php echo $vvv['menu_name']?></a></li>
          <!--  <li><a data-url="/Admin/Project/add/pre/15.html" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-id="project-add"><span class="glyphicon glyphicon-link h3"></span>放款审核</a></li><li><a data-url="/Admin/Project/add/pre/16.html" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-id="project-add"><span class="glyphicon glyphicon-link h3"></span>日常利息归还</a></li>
            <li><a data-url="/Admin/Project/add/pre/17.html" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-id="project-add"><span class="glyphicon glyphicon-link h3"></span>商票退票流程</a></li>
          -->  <?php endforeach;?>
        </ul>
    </div>
    <?php endif;?>
    <hr />
  <!-- <div class="cate">
        <h5><span class="glyphicon glyphicon-tags"></span>考勤类</h5>
        <ul>
            <li><a data-url="" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-id="project-add"><span class="glyphicon glyphicon-check h3"></span>补录考勤申请</a></li>
            <li><a data-url="" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-id="project-add"><span class="glyphicon glyphicon-check h3"></span>串休申请单</a></li>
            <li><a data-url="" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-id="project-add"><span class="glyphicon glyphicon-check h3"></span>加班申请单</a></li>
            <li><a data-url="" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-id="project-add"><span class="glyphicon glyphicon-check h3"></span>销假申请单</a></li>
            <li><a data-url="" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-id="project-add"><span class="glyphicon glyphicon-check h3"></span>请假申请单</a></li>
            <li><a data-url="" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-id="project-add"><span class="glyphicon glyphicon-check h3"></span>外出申请单</a></li>
            <li><a data-url="" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-id="project-add"><span class="glyphicon glyphicon-check h3"></span>调休中</a></li>
            <li><a data-url="" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-id="project-add"><span class="glyphicon glyphicon-check h3"></span>出差申请书</a></li>
        </ul>
    </div>
    <hr />
    <div class="cate">
        <h5><span class="glyphicon glyphicon-picture"></span>工程类</h5>
        <ul>
            <li><a data-url="" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-id="project-add"><span class="glyphicon glyphicon-file h3"></span>工程合同审批单</a></li>
            <li><a data-url="" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-id="project-add"><span class="glyphicon glyphicon-file h3"></span>合同费用请款</a></li>
            <li><a data-url="" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-id="project-add"><span class="glyphicon glyphicon-file h3"></span>工程决算造价确认书</a></li>
        </ul>
    </div>
    <hr /> -->
</div>