<style>
.bjui-pageContent{padding:10px 20px;}
.cate h5{font-weight: bold;}
.cate span.glyphicon{margin-right: 6px;font-size: 14px;}
.cate ul{clear: both;overflow: hidden;}
.cate ul li{float: left;padding: 15px 20px 4px 18px;}
.cate ul li a{font-size: 14px;}
</style>
<div class="bjui-pageContent" id="layout-1">
    <div class="cate">
        <h5><span class="glyphicon glyphicon-hand-right"></span>项目流程立项</h5>
        <ul>
            <li><a data-url="/Admin/Project/add/pre/0.html" class="btn btn-blue" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-icon="plus" data-id="project-add"><span class="glyphicon glyphicon-list-alt"></span>新建立项</a></li>
            <li><a data-url="/Admin/Project/add/pre/4.html" class="btn btn-blue" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-icon="plus" data-id="project-add"><span class="glyphicon glyphicon-list-alt"></span>新建知情子流程</a></li>
            <li><a data-url="/Admin/Project/add/pre/5.html" class="btn btn-blue" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-icon="plus" data-id="project-add"><span class="glyphicon glyphicon-list-alt"></span>新建风控审核子流程</a></li>
            <li><a data-url="/Admin/Project/add/pre/6.html" class="btn btn-blue" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-icon="plus" data-id="project-add"><span class="glyphicon glyphicon-list-alt"></span>新建立项会子流程</a></li>
            <li><a data-url="/Admin/Project/add/pre/7.html" class="btn btn-blue" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-icon="plus" data-id="project-add"><span class="glyphicon glyphicon-list-alt"></span>新建风控报告子流程</a></li>
            <li><a data-url="/Admin/Project/add/pre/8.html" class="btn btn-blue" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-icon="plus" data-id="project-add"><span class="glyphicon glyphicon-list-alt"></span>新建风控会子流程</a></li>
            <li><a data-url="/Admin/Project/add/pre/9.html" class="btn btn-blue" data-toggle="dialog" data-width='600' data-height="400" data-mask='true' data-icon="plus" data-id="project-add"><span class="glyphicon glyphicon-list-alt"></span>新建投委会子流程</a></li>
        </ul>
    </div>

    <hr />
    <div class="cate">
        <h5><span class="glyphicon glyphicon-hand-right"></span>业务类</h5>
        <ul>
            <li><a href=""><span class="glyphicon glyphicon-briefcase"></span>报价审批单</a></li>
            <li><a href=""><span class="glyphicon glyphicon-briefcase"></span>设备采购单</a></li>
            <li><a href=""><span class="glyphicon glyphicon-briefcase"></span>软硬件故障维护表</a></li>
            <li><a href=""><span class="glyphicon glyphicon-briefcase"></span>工程报告</a></li>
        </ul>
    </div>
    <hr />
    <div class="cate">
        <h5><span class="glyphicon glyphicon-hand-right"></span>人事类</h5>
        <ul>
            <li><a href=""><span class="glyphicon glyphicon-link"></span>转正申请单</a></li>
            <li><a href=""><span class="glyphicon glyphicon-link"></span>离职申请表</a></li>
            <li><a href=""><span class="glyphicon glyphicon-link"></span>入职申请表</a></li>
            <li><a href=""><span class="glyphicon glyphicon-link"></span>调薪申请单</a></li>
        </ul>
    </div>
    <hr />
    <div class="cate">
        <h5><span class="glyphicon glyphicon-hand-right"></span>考勤类</h5>
        <ul>
            <li><a href=""><span class="glyphicon glyphicon-check"></span>补录考勤申请</a></li>
            <li><a href=""><span class="glyphicon glyphicon-check"></span>串休申请单</a></li>
            <li><a href=""><span class="glyphicon glyphicon-check"></span>加班申请单</a></li>
            <li><a href=""><span class="glyphicon glyphicon-check"></span>销假申请单</a></li>
            <li><a href=""><span class="glyphicon glyphicon-check"></span>请假申请单</a></li>
            <li><a href=""><span class="glyphicon glyphicon-check"></span>外出申请单</a></li>
            <li><a href=""><span class="glyphicon glyphicon-check"></span>调休中</a></li>
            <li><a href=""><span class="glyphicon glyphicon-check"></span>出差申请书</a></li>
        </ul>
    </div>
    <hr />
    <div class="cate">
        <h5><span class="glyphicon glyphicon-hand-right"></span>工程类</h5>
        <ul>
            <li><a href=""><span class="glyphicon glyphicon-file"></span>工程合同审批单</a></li>
            <li><a href=""><span class="glyphicon glyphicon-file"></span>合同费用请款</a></li>
            <li><a href=""><span class="glyphicon glyphicon-file"></span>工程决算造价确认书</a></li>
        </ul>
    </div>
</div>