<div class="bjui-pageHeader">
    <form id="pagerForm" data-toggle="ajaxsearch" action="<?php echo U('Project/index')?>" method="post">
        <input type="hidden" name="pageSize" value="${model.pageSize}">
        <input type="hidden" name="pageCurrent" value="${model.pageCurrent}">
        <input type="hidden" name="orderField" value="${param.orderField}">
        <input type="hidden" name="orderDirection" value="${param.orderDirection}">
        <div class="bjui-searchBar">
            <button data-url="/Admin/FinanceProject/add.html" class="btn btn-blue" data-toggle="dialog" data-height='400' data-icon="plus" data-id="project-add">新增项目</button>
            <label>提交状态:</label>
            <select name="submit_status" data-toggle="selectpicker">
                <option value="">全部</option>
                <option value="0">草稿</option>
                <option value="1">已提交</option>
            </select>&nbsp;
            <label>项目编号：</label><input type="text" id="pro_no" value="" name="pro_no" class="form-control" size="10">&nbsp;
            <!--<label>公司名称：</label><input type="text" value="" name="company_name" class="form-control" size="8">&nbsp;-->
            <!--<input type="checkbox" id="j_table_chk" value="true" data-toggle="icheck" data-label="我的客户">-->
            <!--<button type="button" class="showMoreSearch" data-toggle="moresearch" data-name="custom"><i class="fa fa-angle-double-down"></i></button>-->
            <button type="submit" class="btn-default" data-icon="search">查询</button>&nbsp;
            <a class="btn btn-orange" href="javascript:;" data-toggle="reloadsearch" data-clear-query="true" data-icon="undo">清空查询</a>
            <!--<div class="pull-right">-->
                <!--<a href="/Admin/Project/add.html" class="btn btn-default" data-toggle="navtab" data-icon="add" data-id="project-add">新增项目</a>-->
            <!--</div>-->
        </div>
        <div class="bjui-moreSearch">
            <label>职业：</label><input type="text" value="" name="profession" size="15" />
            <label>&nbsp;性别:</label>
            <select name="sex" data-toggle="selectpicker">
                <option value="">全部</option>
                <option value="true">男</option>
                <option value="false">女</option>
            </select>
            <label>&nbsp;手机:</label>
            <input type="text" value="" name="mobile" size="10">
        </div>
    </form>
</div>
<div class="bjui-pageContent tableContent">
    <table class="table table-bordered table-hover table-striped table-top">
        <thead>
            <tr>
                <th data-order-field="pro_no" align="center" width="200">项目编号</th>
                <th data-order-field="fp_title" align="center" width="300">融资项目标题</th>
                <th data-order-field="company" align="center" width="300">公司</th>
                <th data-order-field="pro_real_money"  align="center" width="150">放款金额(元)</th>
                <th data-order-field="finance_money"  align="center" width="150">融资金额(元)</th>
                <th data-order-field="left_money"  align="center" width="150">剩余融资金额(元)</th>
                <th data-order-field="max_money"  align="center" width="100">最大认购金额(元)</th>
                <th data-order-field="gt_uid" align="center" width="100">跟进人</th>
                <th data-order-direction="asc" data-order-field="add_time" align="center" width="180">添加时间</th>
                <th data-order-direction="asc" data-order-field="end_time" align="center" width="180">截止时间</th>
                <th width="300" align="center">操作</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach($list as $v){?>
            <tr data-id="<?php echo $v['pro_id']?>">
                <td align="center"><?php echo $v['pro_no']?></td>
                <td align="center"><?php echo $v['fp_title']?></td>
                <td align="center"><?php echo $v['company_name']?></td>
                <td align="center"><?php echo number_format($v['pro_real_money'], 2)?></td>
                <td align="center"><?php echo number_format($v['finance_money'], 2)?></td>
                <td align="center"><?php echo number_format($v['left_money'], 2)?></td>
                <td align="center"><?php echo number_format($v['max_money'], 2)?></td>
                <td align="center"><?php echo $v['real_name']?></td>
                <td align="center"><?php echo date('Y-m-d H:i:s',$v['add_time'])?></td>
                <td align="center"><?php echo date('Y-m-d',$v['end_time'])?></td>
                <td align="center">
                    <a href="<?php echo U('FinanceProject/edit', array('fp_id'=>$v['fp_id']))?>" class="btn btn-green" data-toggle="dialog" data-height='400' data-id="finance-project-edit" data-title="编辑-项目">编辑</a>
                    <a href="<?php echo U('FinanceOrder/index', array('fp_id'=>$v['fp_id']))?>" class="btn btn-green" data-toggle="dialog" data-height='500' data-width='880' data-id="financeorder-index" data-title="认购详情">认购记录</a>
                    <a href="<?php echo U('FinanceProject/del', array('fp_id'=>$v['fp_id']))?>" class="btn btn-red" data-toggle="doajax" data-confirm-msg="确定要删除该行信息吗？">删</a>
                    <!--<a href="<?php echo U('FinanceProject/detail', array('fp_id'=>$v['fp_id']))?>" class="btn btn-green" data-toggle="dialog" data-id="finance-project-detail" data-reload-warn="本页已有打开的内容，确定将刷新本页内容，是否继续？" data-title="项目详情">查看</a>-->
                </td>
            </tr>
            <?php }?>
        </tbody>
    </table>
</div>
<div class="bjui-pageFooter">
    <div class="pages">
        <span>每页&nbsp;</span>
        <div class="selectPagesize">
            <select data-toggle="selectpicker" data-toggle-change="changepagesize">
                <option value="30">30</option>
                <option value="60">60</option>
                <option value="120">120</option>
                <option value="150">150</option>
            </select>
        </div>
        <span>&nbsp;条，共 <?php echo $total?> 条</span>
    </div>
    <div class="pagination-box" data-toggle="pagination" data-total="<?php echo $total?>" data-page-size="30" data-page-current="1">
    </div>
</div>
<script>
    $(function(){
            for(var i=0;i<3;i++) {
                if($("select").get(0).options[i].value == '{$post.status}')  {
                    $("select").get(0).options[i].selected = true;  
                    break;
                }
            }
     })
    
</script>  