<style>
    .subproject{ padding: 14px 0 0 14px; }

    .subproject label{ padding-bottom: 16px; }

    .subproject div dl{ display: inline-block; margin-right: 54px; text-align: center; margin-bottom: 40px; position: relative; }

    .subproject div  dl dt{ width: 113px; height: 30px; margin-bottom: 10px; border-radius: 14px; line-height: 30px; border: 1px #999 solid; background: #eaeaea; }

    .subproject div  dl dd{ position: absolute; width: 87px; text-align: left; }

    .backflow{ padding-right: 20px; display: inline-block; margin-bottom: 30px; background: url(/Public/Admin/images/datagrid/flow.png) no-repeat right center; background-position: 131px 7px; }

    .backflow:first-child,.backflow:last-child{ background-position: 50px 6px; }

    .backflow:last-child{ background:none; }

    .subproject  .backflow:first-child  dl, .subproject  .backflow:last-child   dl{ margin-right:54px; }

    .subproject  .backflow:first-child  dt, .subproject  .backflow:last-child   dt { width: 33px; height: 33px; border-radius: 33px; border:none; }

    .subproject  .backflow:first-child  dt{ background-color:#0bb30b; }

    .subproject div  dl dt.current{background:red; color:#ffffff;}
</style>
<div class="bjui-pageContent">

    <php>$i=0;foreach($list as $k=>$v):</php>
    <div class="subproject">
        <label>
            <php> echo ++$i,'、', $v['name'];</php>
            <a href="/admin/Project/detailMore/wf_id/{$v['wfid']}" data-title="{$v['name']}" data-toggle="dialog" data-width="800" data-height="400"  data-id="dialog">详情>></a>
        </label>
        <div>
            <!-- 开始 -->
            <div class="backflow">
                <dl>
                    <dt>&nbsp;</dt>
                    <dd>{$executor[$v['wfid']][$k]['real_name']}<br/>{$executor[$v['wfid']][$k]['pro_addtime']|date="Y/m/d",###}</dd>
                </dl>
            </div>
            <php> foreach($v['sub'] as $subk=>$subv):</php>
            <div class="backflow">
                <dl>
                    <dt class="<php>if($v['current'] == $subk) echo 'current';</php>">
                        <php> echo  $subv==end($v['sub'])?'&nbsp;':"$subv"</php>
                    </dt>
                    <dd>
                        <php>
                            if($subv==end($v['sub'])){
                                echo $subv;  //步骤标题
                            }elseif($executor[$v['wfid']][$subk]){
                                echo $executor[$v['wfid']][$subk]['real_name'],"<br/>"; //名字
                                echo ($executor[$v['wfid']][$subk]['pro_addtime'])?date('Y/m/d',$executor[$v['wfid']][$subk]['pro_addtime']):''; //执行时间
                            }
                        </php>
                    </dd>
                </dl>
            </div>
            <php>endforeach;</php>
        </div>
    </div>
    <php>endforeach;</php>
</div>
