<script type="text/javascript">
    function pic_upload_success(file, data) {
        var json = $.parseJSON(data)

        $(this).bjuiajax('ajaxDone', json)
        if (json[BJUI.keys.statusCode] == BJUI.statusCode.ok) {
            $('#j_custom_pic').val(json.filename).trigger('validate')
            $('#j_custom_span_pic').html('<img src="'+ json.filename +'" width="100" />')
        }
    }
    function do_OK(json, $form) {
        console.log(json)
        console.log($form)
    }
</script>
<div class="bjui-pageContent">
    <form action="<?php echo U('Project/saveMyAudit')?>" id="j_custom_form" data-toggle="validate" data-alertmsg="false" method="get">
        <input type="hidden" name="auditType" value="{$pre}">
        <input type="hidden" name="pro_id" value="{$pro_id}">
        <input type="hidden"  name="plId" value="{$plId}">
        <input type="hidden"  name="wfId" value="{$wfId}">
        <input type="hidden"  name="xmlId" value="{$xmlId}">
        <input type="hidden"  name="spId" value="{$spId}">
        <input type="hidden"  name="proLevel" value="{$proLevel}">
        <input type="hidden"  name="proTimes" value="{$proTimes}">
        <input type="hidden"  name="proRebutter" value="{$proRebutter}">
        <input type="hidden"  name="proRebutterLevel" value="{$proRebutterLevel}">
        <table class="table table-condensed table-hover" width="100%">
            <tbody>
            <?php if($pre=='7_1'||$pre=='7_2' ||$pre=='7_3'):?>
            <tr>
                <td>
                    <label for="j_custom_name" class="control-label x150">已绑定的项目：</label>
                    <input type="hidden" name="pro_id" value="{$pro_id}">
                    <input type="text" name="pro_title" id="p_company" value="{$companyName}" size="30"   readonly>
                </td>
            </tr>
            <?php else:?>
            <tr>
                <td>
                    <label for="j_custom_name" class="control-label x150">请绑定项目：</label>
                    <input type="hidden" name="pro_id" value="{$pro_id}">
                    <input type="text" name="pro_title" id="p_company" value="{$companyName}" size="30" data-toggle="lookup" data-url="<?php echo U('Company/findRelateSubProcess/',array('pre'=>4))?>" data-width="600" data-height="300" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="j_custom_name" class="control-label x150">选择通知知情的相关人员：</label>
                    <input type="hidden" name="auditor_id" value='<?php echo $auditorId?>'>
                    <input type="text" name="auditor_name" id="p_company" value="<?php echo $auditorName?>" size="30" data-toggle="lookup" data-url="<?php echo U('Company/findHeaderToType',array('pre'=>4))?>" data-width="600" data-height="300" readonly>
                </td>
            </tr>
            <?php endif;?>
            <?php if($admin['role_name']=='项管部总监'||$pre=='7_2'):?>
               <tr>
                   <td>
                   <label for='company_id' class='control-label x150'>请选择:</label>
                   <select name="auditType" class="auditType" data-rule="required" data-toggle="selectpicker">
                       <option value="">选择审核类型</option>
                       <option value="2">通过</option>
                       <option value="3">驳回</option>
                   </select>
                   </td>
               </tr>
            <?php endif;?>
            <tr>
                <td>
                    <label for="pro_desc" class="control-label x100">备注：</label>
                    <textarea name="pro_subprocess_desc"   id="j_custom_note_1" data-toggle="autoheight" cols="30" rows="2">{$pro_subprocess_desc}</textarea>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close" data-icon="close">取消</button></li>
        <li><button type="submit" class="btn-default" data-icon="save">提交</button></li>
    </ul>
</div>
<script>
    $('input[name="pro_type"]').on('ifChecked', function (event) {
        $('#reversed').show();
        $('input[name="supplier_name"]').attr('data-rule', 'required');
    });
    $('input[name="pro_type"]').on('ifUnchecked', function (event) {
        $('#reversed').hide();
        $('input[name="supplier_name"]').removeAttr('data-rule');
    });
    $('input[name="pro_term"]').on('ifChecked', function (event) {
        $('#redo').show();
        $('input[name="pro_title"]').attr('data-rule', 'required');
    });
    $('input[name="pro_term"]').on('ifUnchecked', function (event) {
        $('#redo').hide();
        $('input[name="pro_title"]').removeAttr('data-rule');
    });
</script>