<script type="text/javascript">
function do_open_layout(event, treeId, treeNode) {
//    if (treeNode.isParent) {
//        var zTree = $.fn.zTree.getZTreeObj(treeId)
//        
//        zTree.expandNode(treeNode)
//        return
//    }
    $(event.target).bjuiajax('doLoad', {url:treeNode.url, target:treeNode.divid})
    
    event.preventDefault()
}
</script>
<div class="bjui-pageContent">
    <div style="float:left; width:250px;">
        <a data-url="/Admin/Tips/upload.html" class="btn btn-red" data-toggle="dialog" data-width='800' data-height='900'  data-mask='true' data-id="help-upload">上传功能提示！</a>
        <a href="/Admin/Help/uploadDocument.html?pro_id=<?php echo $pro_id?>" class="btn btn-blue" target="_blank">文件夹上传</a>
        <!--<a href="/Admin/Help/download.html?pro_id=<?php echo $pro_id?>" class="btn btn-blue" onclick="doc_filedownload1(this); return false;">打包下载</a>-->
        <div >
            <div class="btn-group">
                <button type="button" class="btn-default dropdown-toggle" data-toggle="dropdown" data-icon="copy">下载<span class="caret"></span></button>
                <ul class="dropdown-menu right" role="menu">
                    <li><a href="/Admin/Help/download.html?pro_id=<?php echo $pro_id?>" onclick="doc_filedownload1(this); return false;">下载<span style="color: green;">全部</span></a></li>
                    <li><a href="/Admin/Help/downloadChecked.html?pro_id=<?php echo $pro_id?>" onclick="doc_filedownload2(this); return false;">下载<span style="color: red;">选中</span></a></li>
                </ul>
            </div>
        </div>
        <ul id="layout-tree" class="ztree" data-toggle="ztree" data-expand-all="false" data-check-enable='true' data-on-click="do_open_layout">
            <volist name="file_tree" id="m1">
                <input type="checkbox" name="" id="reback_tax" data-toggle="icheck" data-label="" value="1">
                <li data-id="{$m1.file_id}" data-pid="{$m1.pid}" data-url="<?php echo U('project/upload',array('pro_id'=>$pro_id,'file_id'=>$m1['file_id']))?>" data-divid="#layout-01">{$m1.file_name}</li>
                <volist name="m1.sub" id="m2">
                <li data-id="{$m2.file_id}" data-pid="{$m2.pid}" data-url="<?php echo U('project/upload',array('pro_id'=>$pro_id,'file_id'=>$m2['file_id']))?>" data-divid="#layout-01">{$m2.file_name}</li>
                    <volist name="m2.sub" id="m3">
                    <li data-id="{$m3.file_id}" data-pid="{$m3.pid}" data-url="<?php echo U('project/upload',array('pro_id'=>$pro_id,'file_id'=>$m3['file_id']))?>" data-divid="#layout-01">{$m3.file_name}</li>
                        <?php if(isset($m3['sub'])): ?>
                        <?php foreach($m3['sub'] as $m4):?>
                        <li data-id="{$m4.file_id}" data-pid="{$m4.pid}" data-url="<?php echo U('project/upload',array('pro_id'=>$pro_id,'file_id'=>$m4['file_id']))?>" data-divid="#layout-01">{$m4.file_name}</li>
                            <?php if(isset($m4['sub'])): ?>
                            <?php foreach($m4['sub'] as $m5):?>
                            <li data-id="{$m5.file_id}" data-pid="{$m5.pid}" data-url="<?php echo U('project/upload',array('pro_id'=>$pro_id,'file_id'=>$m5['file_id']))?>" data-divid="#layout-01">{$m5.file_name}</li>
                            <?php endforeach;?>
                            <?php endif; ?>
                        <?php endforeach;?>
                        <?php endif; ?>
                    </volist>
                </volist>
            </volist>
        </ul>
    </div>
    <div style="margin-left:210px; height:99.9%; width: 50%; overflow:hidden;">
        <div style="height:100%; overflow:hidden;">
            <fieldset style="height:100%;">
                <legend>文件</legend>
                <div id="layout-01" style="height:94%; overflow:hidden;">
                    
                </div>
            </fieldset>
        </div>
    </div>
</div>
<script type="text/javascript">
    function doc_filedownload1(a) {
        $.fileDownload($(a).attr('href'), {
            failCallback: function(responseHtml, url) {
                if (responseHtml.trim().startsWith('{')) responseHtml = responseHtml.toObj()
                $(a).bjuiajax('ajaxDone', responseHtml)
            }
        })
    }
    
    function doc_filedownload2(a) {
        var tree = $.fn.zTree.getZTreeObj("layout-tree");
        var menus = tree.getCheckedNodes();
//        var checkedNodes = menus.getCheckedNodes();
        var file_id = '';
        
        for (var i = 0; i < menus.length; i++) {
            if (menus[i].checked === true) {
                file_id += menus[i].id + ',';
            }
        }
        if (file_id === '') {
            $(a).alertmsg('warn', '请选择要下载的文件包！');
            return false;
        }
        var url = $(a).attr('href');
        url = url + '&file_id=' + file_id.substr(0, file_id.length - 1);
//            debugger;
//            return false;
        $.fileDownload(url, {
            failCallback: function(responseHtml, url) {
                if (responseHtml.trim().startsWith('{')) responseHtml = responseHtml.toObj()
                $(a).bjuiajax('ajaxDone', responseHtml)
            }
        })
    }
</script>
