<script type="text/javascript">
    function pic_upload_success(file, data) {
        var json = $.parseJSON(data)
        $(this).bjuiajax('ajaxDone', json)
        if (json[BJUI.keys.statusCode] == BJUI.statusCode.ok) {
            add_uploadedfile(json.content);
        }
    }
    var flag="<?php echo $flag;?>"
    $("select[name='fileType']").find("option[value='"+flag+"']").attr('selected',true)
</script>
<div class="bjui-pageContent">
    <form action="/Admin/Role/saveFileDepart" name="fileAuthDepart" id="j_form" data-toggle="validate" data-alertmsg="false">
        <input type="hidden" name="file_id" value="{$file_id}"/>
        <input id="pro_id" type="hidden" name="pro_id" value="<?php echo $pro_id?>">
    <table id='file-list_2' class="table table-condensed table-hover" width="100%">
        <thead>
        <tr>
            <th colspan="4" style="text-align:left;">设置文件机密类型 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <select name="fileType" data-toggle="selectpicker">
                    <option value="1">开放</option>
                    <?php foreach($departSecretFile as $dkey=>$dvalue):?>
                    <option value="<?php echo $dkey;?>"><?php echo $dvalue['name'];?></option>
                    <?php endforeach;?>
                </select>
                <button type="submit" class="btn btn-green" data-icon="save">保存</button>
            </th>
        </tr>
        </thead>
        </table>
        </form>

    <form action="/Admin/Role/saveFileAuth" name="fileAuth" id="j_form" data-toggle="validate" data-alertmsg="false">
        <input type="hidden" name="file_id" value="{$file_id}"/>
        <input id="pro_id" type="hidden" name="pro_id" value="<?php echo $pro_id?>">
    <table id='file-list' class="table table-condensed table-hover" width="100%">
        <thead>
      <!--  <tr>
            <td colspan="4" style="height: 80px; color: #9a9696;">说明: <br/>1.文件列表中的任意一行任意一行的“详细” <br/>2. 单击“详情”可以查看左侧选中的文件夹可以访问的人员列表相关信息</td>
        </tr>-->
        <tr>
            <th colspan="4" style="text-align:left;">此文件夹可访问人员列表：
                <a data-toggle="dialog" data-width="800" data-height="400" class="btn btn-default" data-title="文件夹访问权限设置" data-id="dialog-normal" href="{:U('/Admin/Role/listAllowName',array('folderId'=>$file_id,'type'=>'folder'))}" style="width:100px;">详情</a>
            </th>
        </tr>

       <tr><td><p></p></td></tr>
        <tr>
            <th colspan="4" style="text-align:left;">选择允许可访问的人员：

                <input type="text" name="person.profession" id="project" value="" readonly size="40" data-toggle="lookup" data-url="{:U('/Admin/Role/listName',array('multi'=>1))}" data-group="person" data-width="600" data-height="300" data-rule="required" >
                <input type="hidden" name="person.adminId" id="pro_id" >
            </th>
        </tr>
        <tr>
            <th align="center" width="100">编号</th>
            <th align="center" width="300">文件名</th>
            <th align="center" width="300">上传日期</th>
            <th width="300" align="center">操作</th>
        </tr>
        </thead>
        <tbody>
                <php>$i = 1;foreach($list as $v){ </php>
        <tr>
            <td align="center">  <php> echo $i++;</php></td>
            <td align="center"><a target="_blank" href=" <php>echo $v['path'];</php>">   <php> echo $v['doc_name'];</php></a></td>
            <td align="center">   <php> echo date('Y-m-d H:s:i', $v['addtime']); </php></td>
            <td align="center">
                <input type="checkbox" name="fileids[]" value="<php>echo $v['id']; </php>" checked="checked" id="j_custom_vegetarian" data-toggle="icheck"  data-label="可访问">
                <a data-toggle="dialog" data-width="800" data-height="400" class="btn btn-default" data-title="文件访问权限设置" data-id="dialog-normal" href="{:U('/Admin/Role/listAllowName',array('fileId'=>$v['id'],'type'=>'file'))}" style="width:50px;">详情</a>
            </td>
        </tr>
                     <php>}</php>
        <tr>
            <td colspan="4" align="center">
                <button type="submit" class="btn btn-green" data-icon="save">保存</button>
            </td>
        </tr>
        </tbody>
    </table>
        </form>
</div>
<script ></script>