<div class="bjui-pageHeader">
    <form id="pagerForm" data-toggle="ajaxsearch" action="<?php echo U('Project/MyAudit')?>" method="post">
        <input type="hidden" name="pageSize" value="${model.pageSize}">
        <input type="hidden" name="pageCurrent" value="${model.pageCurrent}">
        <input type="hidden" name="orderField" value="${param.orderField}">
        <input type="hidden" name="orderDirection" value="${param.orderDirection}">
        <div class="bjui-searchBar">
            <label>提交状态:</label>
            <select name="submit_type" data-toggle="selectpicker">
                <option value="">全部</option>
                <option value="0">草稿</option>
                <option value="1">已提交</option>
            </select>&nbsp;
            <label>项目标题：</label><input type="text" id="pro_no" value="" name="pro_title" class="form-control" size="10">&nbsp;
            <button type="submit" class="btn-default" data-icon="search">查询</button>&nbsp;
            <a class="btn btn-orange" href="javascript:;" data-toggle="reloadsearch" data-clear-query="true" data-icon="undo">清空查询</a>
        </div>
    </form>
</div>
<div class="bjui-pageContent tableContent">
    <table class="table table-bordered table-hover table-striped table-top" data-selected-multi="true">
        <thead>
        <tr>
            <th data-order-field="pro_no" align="center" width="300">项目编号</th>
            <th data-order-field="pro_title" align="center" width="300">项目标题</th>
            <th data-order-direction="asc" data-order-field="addtime" align="center" width="300">添加时间</th>
            <th data-order-field="company" align="center" width="300">公司</th>
            <th data-order-field="gt_uid" align="center" width="150">项管部跟进人</th>
            <th data-order-field="pro_status"  align="center" width="100">立项状态</th>
            <th width="300" align="center">操作</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($list as $v){?>
        <tr data-id="<?php echo $v['pro_id']?>" data-title="<?php echo $v['pro_title']?>" ondblclick="showWorkflow(this)" title="双击可查看项目详情" style="cursor:pointer;">
            <td align="center"><?php echo $v['pro_no']?></td>
            <td align="center"><?php echo $v['pro_title']?></td>
            <td align="center"><?php echo date('Y-m-d H:i', $v['addtime'])?></td>
            <td align="center"><?php echo $v['company_name']?></td>
            <td align="center"><?php echo empty($v['pmd_name']) ? '<code>未分配</code>' : $v['pmd_name']?>&nbsp;</td>
            <td align="center"><?php echo C('proLevel')[$v['pro_level_now']]?></td>
            <td align="center">
                <?php foreach($v['authpage'] as $kk=>$vv):?>
                <?php if($vv=='查看知情' || $vv=='查看流程'):?>
                <button href="javascript:;" data-id="<?php echo $v['pro_id']?>" data-plid="<?php echo $v['pl_id']?>" data-height="1000" data-width="900" onclick="showWorkflowSubProcess(this)"
                data-id="project-submit"
                data-title="<?php echo $vv?>"><?php echo $vv?></button>
               <?php else:?>
                <a href="<?php echo U($kk, array('pro_id'=>$v['pro_id'],'plId'=>$v['pl_id'],'wfId'=>$v['wfid'],
                'xmlId'=>$v['pro_xml_id'],'proLevel'=>$v['pro_level'],'proRebutter'=>$v['pro_rebutter'],'proRebutterLevel'=>$v['pro_rebutter_level'],'proRebutterPlid'=>$v['pro_rebutter_plid'],
                'proTimes'=>$v['pro_times'],'spId'=>$v['sp_id'],'proState'=>$v['pro_state'])) ?>" class="btn btn-green"
                   data-toggle="<?php if($vv=='资料包') {echo 'navtab';}else{echo 'dialog';}?>"
                   <?php if($vv=='项管部审核'|| $vv=='归档审核'|| $vv=='上传资料' || $vv=='下载资料' || $vv=='查看流程' || $vv=='查看立项会知情')
                   {echo 'data-height=900 data-width=800';}
                   elseif($vv=='提交/编辑')
                   {echo 'data-height=600 data-width=500';}
                   ?>
                   data-id="project-submit"
                 data-tabid="project-subwidows"
                   data-title="<?php echo $vv?>"><?php echo $vv?></a>
                <?php endif;?>
                <?php endforeach;?>

            </td>
        </tr>
        <?php }?>
        </tbody>
    </table>
</div>
<div class="bjui-pageFooter">
    <div class="pages">
        <span>每页&nbsp;</span>
        <div class="selectPagesize">
            <select data-toggle="selectpicker" data-toggle-change="changepagesize">
                <option value="30">30</option>
                <option value="60">60</option>
                <option value="120">120</option>
                <option value="150">150</option>
            </select>
        </div>
        <span>&nbsp;条，共 <?php echo $total?> 条</span>
    </div>
    <div class="pagination-box" data-toggle="pagination" data-total="<?php echo $total?>" data-page-size="30" data-page-current="1">
    </div>
</div>
<script type="text/javascript">
    function showWorkflow(e){
        var dataId=$(e).attr('data-id');
        var dataTitle=$(e).attr('data-title');
        $(e).dialog({id:'mydialogasasa', url:'/Admin/Project/detail/dataId/'+dataId, title:dataTitle,width:1000,height:600});
    }
    function showWorkflowSubProcess(e){
        var dataId=$(e).attr('data-id');
        var dataTitle=$(e).attr('data-title');
        var plId=$(e).attr('data-plid');
        $.post('/Admin/Project/ProjectMeetingCheckFile',{'plId':plId,'proId':dataId},function (data) {
            if(data.status==1)
            {
                $(event.target).navtab({id: "project-workflowlog", url: "/Admin/Project/workflowlog", title: "流程监控", fresh: "", external: ""})
                $(this).dialog({id:'mydialogasasa', url:'/Admin/Project/detail/dataId/'+dataId, title:'流程监控',width:1000,height:600});
            }
        })

    }
</script>

