<script type="text/javascript">
    function do_OK(json, $form) {
        console.log(json)
        console.log($form)
    }
</script>
<div class="bjui-pageContent">
    <table class="table table-condensed table-hover" width="100%">
            <tbody>
                <tr>
                    <td>
                        <label for="company_id" class="control-label x85">项目名称：</label>
                        <input type="text" name="pro_title" id="p_company" value="{$pro_title}" size="15" data-toggle="lookup" data-url="<?php echo U('projectDone/couldApplyList')?>" data-width="600" data-height="300" readonly>
                    </td>
                    <td>
                        <label for="company_id" class="control-label x85">项目经理：</label>
                        <input type="text" name="pro_linker_name" value="{$pro_linker_name}" size="15" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="company_id" class="control-label x85">期限：</label>
                        <input type="text" name="pro_time_limit" value="{$pro_time_limit}" size="20" readonly>
                    </td>
                    <td>
                        <label for="company_id" class="control-label x85">金额：</label>
                        <input type="text" name="pro_account" value="<?php echo number_format($pro_account,2); ?>" size="15" readonly>万元
                    </td>
                </tr>
                <tr>
                    <td rowspan="7">
                        <label for="debt_no" class="control-label x120">申请内容：</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" name="" id="reback_Ukey" data-toggle="icheck" data-label="退还Ukey" value="1" <?php echo $back_ukey > 0 ? 'checked':''; ?>>&nbsp;<input type="text" name="reback_ukey" id="p_company" value="<?php echo $back_ukey > 0 ? $back_ukey:''; ?>" size="5" data-width="600" data-height="300" readonly>个，详情：
                        <input type="text" name="reback_ukey_detail" id="p_company" value="{$reback_ukey_detail}" size="20" data-width="600" data-height="300" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" name="" id="reback_tax" data-toggle="icheck" data-label="退还发票原件" value="1" <?php echo $back_invoice > 0 ? 'checked':''; ?>>&nbsp;共<input type="text" name="invoice" id="p_company" value="<?php echo $back_invoice > 0 ? $back_invoice : '' ?>" size="5" data-width="600" data-height="300" readonly>张
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" name="logout_zdw" id="logout_zdw" data-toggle="icheck" data-label="注销中登网登记" value="1" <?php echo $logout_zdw > 0 ? 'checked':''; ?>>&nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" name="logout_account" id="logout_account" data-toggle="icheck" data-label="注销账户（虚拟/实体" value="1" <?php echo $logout_account > 0 ? 'checked':''; ?>>&nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" name="change_yz" id="change_yz" data-toggle="icheck" data-label="更改印鉴" value="1" <?php echo $change_yz > 0 ? 'checked':''; ?> >&nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" name="" id="other" data-toggle="icheck" data-label="其他" value="1" <?php echo empty($other) === true ? '':'checked'; ?>>&nbsp;<input type="text" name="other" id="p_company" value="<?php echo $other?>" size="15" data-width="600" data-height="300" readonly>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label for="debt_no" class="control-label x85">项目情况说明：</label>
                        <textarea name="content" id="j_custom_note_1" data-toggle="autoheight" rows="2" cols="50" readonly>{$content}</textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    <h4>项目收益情况</h4>
    <table id='profit' class="table table-bordered table-striped table-hover" width="100%">
        <thead>
            <tr>
                <th align="center" width="400">项目名称</th>
                <th align="center" width="150">融资额度（万）</th>
                <th align="center" width="300">放款时间</th>
                <th align="center" width="300">还款时间</th>
                <th align="center" width="150">资金占用天数</th>
                <th align="center" width="150">手续费</th>
                <th align="center" width="150">投资咨询费</th>
                <th align="center" width="300">实收利息（含罚息）</th>
                <th align="center" width="300">合计（万）</th>
                <th align="center" width="100">收益率</th>
            </tr>
        </thead>
        <tbody>
            <?php 
                foreach($profit as $v){
                    $principal += $v['debt_account'];
                    $handling_charge += $v['handling_charge'];
                    $counseling_fee += $v['counseling_fee'];
                    $interest += $v['interest'];
                    $sum += $v['sum'];
                    $sum_profit += $v['part_sum_profit']
            ?>
            <tr data-id="<?php echo $v['debt_all_id']?>">
                <td align="center"><?php echo $v['pro_title']?></td>
                <td align="center"><?php echo round($v['debt_account'], 4)?></td>
                <td align="center"><?php echo $v['real_time']?></td>
                <td align="center"><?php echo $v['real_pay_time']?></td>
                <td align="center"><?php echo $v['days'] ?></td>
                <td align="center"><?php echo round($v['handling_charge'], 4)?></td>
                <td align="center"><?php echo round($v['counseling_fee'], 4)?></td>
                <td align="center"><?php echo round($v['interest'], 4)?></td>
                <td align="center"><?php echo round($v['sum'], 4)?></td>
                <td align="center"><?php echo round($v['profit_rate'] * 100, 2) ?>%</td>
                
            </tr>
            <?php }?>
            <tr data-id="sum">
                <td align="center">合计</td>
                <td align="center"><?php echo round($principal, 4)?></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"><?php echo round($handling_charge, 4)?></td>
                <td align="center"><?php echo round($counseling_fee, 4)?></td>
                <td align="center"><?php echo round($interest, 4)?></td>
                <td align="center"><?php echo round($sum, 4)?></td>
                <td align="center"></td>
            </tr>
            <tr data-id="sum">
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center">综合收益</td>
                <td align="center"><?php echo round($sum_profit * 100, 2)?>%</td>
            </tr>
        </tbody>
    </table>
    <h4>审核流程</h4>
    <table class="table table-bordered table-striped table-hover" width="100%">
        <thead>
            <tr>
                <th align="center" width="300">操作人</th>
                <th align="center" width="300">提交时间</th>
                <th align="center" width="300">类型</th>
                <th align="center" width="300">结果</th>
                <th align="center" width="600">意见</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach($process_list as $v){?>
            <tr data-id="<?php echo $v['pro_id']?>">
                <td align="center"><?php echo $v['real_name']?></td>
                <td align="center"><?php echo date('Y-m-d H:i:s', $v['addtime'])?></td>
                <td align="center"><?php echo $workflow[$v['step_pid']][$v['pro_step']]['step_desc']?></td>
                <td align="center"><?php echo $workflow[$v['step_pid']][$v['pro_step']]['step_next'][$v['status']]['desc']?></td>
                <td align="center">
                    <?php if($v['pro_step'] == 1) {?>
                        <label for="" class="control-label x85">本息已结清：</label>
                        <input type="checkbox" name="close_off" id="change_yz" data-toggle="icheck" data-label="是" value="1" <?php echo $close_off == 1 ? 'checked' : ''; ?> disabled>
                        <input type="checkbox" name="close_off" id="change_yz" data-toggle="icheck" data-label="否" value="0" <?php echo $close_off == 0 ? 'checked' : ''; ?> disabled>
                        <br />
                        <label for="" class="control-label x85">结清日期：</label> <?php echo date('Y-m-d', $close_off_time) ?>
                        <br />
                    <?php }?>
                    <?php echo $v['opinion']?>
                </td>
            </tr>
            <?php }?>
        </tbody>
    </table>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close" data-icon="close">取消</button></li>
    </ul>
</div>