<script type="text/javascript">
    function pic_upload_success(file, data) {
        var json = $.parseJSON(data)
        $(this).bjuiajax('ajaxDone', json)
        if (json[BJUI.keys.statusCode] == BJUI.statusCode.ok) {
            add_uploadedfile(json.content);
//        $('#j_custom_pic').val(json.filename).trigger('validate')
//        $('#j_custom_span_pic').html('<img src="'+ json.filename +'" width="100" />')
        }
    }
    function add_uploadedfile(data) {
        var i = $('#file-list> tbody > tr').length + 1;
        var newTr = '<tr><td align="center"><a href="' + data.file_path + '">' + data.file_name + '</a><input type="hidden" name="files['+ i +'][path]" value="' + data.file_path + '" /></a><input type="hidden" name="files['+ i +'][file_name]" value="' + data.file_name + '" /></td><td align="center">' + data.addtime + '</td><td align="center"><a href="<?php echo U("AfterLoan/remove_report")?>" data-data=\'{"file_path":\"' + data.file_path + '\"}\' class="btn btn-red" data-toggle="doajax" data-confirm-msg="确定要删除该行信息吗？">删</a></td></tr>';
        $('#file-list > tbody').append(newTr);

    }
    function do_OK(json, $form) {
        console.log(json)
        console.log($form)
    }
</script>
<div class="bjui-pageContent">
    <form action="<?php echo U('AfterLoan/save_log')?>" id="j_custom_form" data-toggle="validate" data-alertmsg="false">
        <input type="hidden" name="log_id" value='{$log_id}'>
        <table class="table table-condensed table-hover" width="100%">
            <tbody>
                <tr>
                    <td>
                        <label for="pro_desc" class="control-label x120">上传文件：</label>
                        <div style="display: inline-block; vertical-align: middle;">
                            <div id="j_custom_pic_up" data-toggle="upload" data-uploader="<?php echo U('AfterLoan/upload')?>?sessionid=?" 
                                 data-file-size-limit="1024000000"
                                 data-file-type-exts="<?php echo $exts?>"
                                 data-multi="true"
                                 data-on-upload-success="pic_upload_success"
                                 data-icon="cloud-upload"
                                 data-auto="true"
                                 data-form-data='{"log_id":"<?php echo $log_id?>","pro_id":"<?php echo $pro_id?>"}'
                                 data-file-obj-name='pro-<?php echo $pro_id?>'></div>
                        </div>
                        <input type="hidden" name="file" value="" id="file_up">
                        <span id="j_custom_span_pic">
                        </span>
                        <!--<a href="<?php echo U('Project/file', array('pro_id'=>$pro_id))?>" class="btn btn-green" data-toggle="dialog" data-height="900" data-width="800" data-id="project-file" data-reload-warn="本页已有打开的内容，确定将刷新本页内容，是否继续？" data-title="项目相关文件">上传文件</a>-->
                    </td>
                </tr>
            </tbody>
        </table>
        <table id='file-list' class="table table-condensed table-hover" width="100%">
            <thead>
                <tr>
                    <th align="center" width="300">文件名</th>
                    <th align="center" width="300">上传日期</th>
                    <th width="300" align="center">操作</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($list as $v){?>
                <tr>
                    <td align="center"><a target="_blank" href="<?php echo $v["path"]?>"><?php echo $v['file_name']?></a></td>
                    <td align="center"><?php echo date('Y-m-d', $v['addtime']) ?></td>
                    <td align="center"><a href="<?php echo U('Project/remove_report')?>" data-data='{"file_path":"<?php echo $v["path"]?> ","pro_id":"<?php echo $v["pro_id"]?>","aid":"<?php echo $v["id"]?>","file_id":"<?php echo $v["id"]?>"}'  class="btn btn-red" data-toggle="doajax" data-confirm-msg="确定要删除该行信息吗？">删</a></td>
                </tr>
                <?php }?>
            </tbody>
        </table>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close" data-icon="close">取消</button></li>
        <li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
    </ul>
</div>