<div style="float:left;width:50%;">
    <div style="margin:10px 20px 10px 10px;">
        <div class="panel-heading" style="background-color: #d1e1ed;border-color: #faebcc;"><h3 class="panel-title"><span class="glyphicon glyphicon-flag h4" style="vertical-align:bottom;margin-right:6px;"></span>待办事项：<span class="pull-right" style="margin-top:6px;"><span class="glyphicon glyphicon-pushpin h5" style="vertical-align:middle;margin:-5px 4px 0 0;"></span>共 <?php echo $backLogCount?> 项待办</span></h3></div>
        <div class="panel-body bjui-doc task" style="padding:0;">
            <ul>
                <?php foreach($backlog as $list) {?>
                <li><a href="<?php echo U('Project/MyAudit',array('pro_id'=>$list['proId'],'plId'=>$list['plId'],'authorType'=>$list['authorType'] ,'m'=>'delredis'))?>" data-toggle="navtab" data-id="<?php echo strtolower($list['controller']) .'-'. $list['action']?>" data-title="<?php echo $list['title']?>" title="<?php echo $list['contents']?>" style="font-size: 14px;display:inline-block;vertical-align:middle;height:28px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;cursor:pointer;"><?php echo $list['contents']?></a>
                    <span style="float:right;font-size:13px;line-height:28px;"><?php echo date('Y-m-d H:i:s', $list['time'])?></span>
                </li>
                <?php }?>
            </ul>
        </div>
    </div>
    <?php if($admin['dp_id'] == 1) {?>
    <?php }?>
</div>
<!--
<div style="float:right;width:50%;border-left:1px #c3ced5 solid;">
    <div style="margin:10px 10px 10px 20px;">
        <div class="panel-heading" style="background-color: #d1e1ed;border-color: #faebcc;"><h3 class="panel-title"><span class="glyphicon glyphicon-envelope h4" style="vertical-align:bottom;margin-right:6px;"></span>消息提醒</h3></div>
        <div class="panel-body bjui-doc msg" style="padding:0;">
            <fieldset style="padding:10px;">
                <h5><span class="glyphicon glyphicon-save h5" style="vertical-align:middle;margin:-7px 4px 0 0;"></span>项目立项</h5>
                <ul>
                    <?php foreach( $workFlowMessage as $wFMessage):?>
                    <li><a class="<?php echo $wFMessage['in']==0?'':'read';?>" data-expand-all="true" onclick="do_open_layout('project-workflowlog','/Admin/Project/workflowlog?pro_id={$wFMessage[proId]}&time={$wFMessage[time]}&type={$wFMessage[Type]}&m=1','流程监控')" title="{$wFMessage['contents']}" style="font-size: 14px;display:inline-block;vertical-align:middle;/*max-width:272px;*/height:28px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;cursor:pointer;">{$wFMessage["contents"]}</a>
                        <span><empty name="wFMessage['in']"><font style="color:red;">【未读】</font><else/><font style="color:green;">【已读】</font></empty></span>
                        <span style="float:right;font-size:13px;line-height:28px;"><?php echo date('Y-m-d H:i:s',$wFMessage['time'])?></span>
                    </li>
                    <?php endforeach;?>
                </ul>
                <php>if(count($workFlowMessage)>=5):</php>
                <div><a href="{:U('/admin/Index/ajaxMessageMore',array('type'=>'workFlowMessage','messageType'=>1))}"  style="float: right;" data-toggle="dialog" data-width="800" data-height="400" data-id="dialog-ajaxMessage" data-title="项目立项">更多...</a></div>
                <php>endif;</php>
            </fieldset>
            <fieldset style="padding:10px;">
                <h5><span class="glyphicon glyphicon-edit h5" style="vertical-align:middle;margin:-4px 4px 0 0;"></span>签约流程</h5>
                <ul>
                    <?php foreach( $contractMessage as $conMessage):?>
                    <li><a class="<?php echo $conMessage['in']==0?'':'read';?>" data-expand-all="true" onclick="do_open_layout('project-workflowlog','/Admin/Project/workflowlog?pro_id={$conMessage[proId]}&time={$conMessage[time]}&type={$conMessage[Type]}&m=1','流程监控')" title="{$conMessage["contents"]}" style="font-size: 14px;display:inline-block;vertical-align:middle;/*max-width:272px;*/height:28px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;cursor:pointer;">{$conMessage["contents"]}</a>
                        <span ><empty name="conMessage['in']"><font style="color:red;">【未读】</font><else/><font style="color:green;">【已读】</font></empty></span>
                        <span style="float:right;font-size:13px;line-height:28px;">
                             <?php echo date('Y-m-d H:i:s',$conMessage['time'])?>
                        </span>
                    </li>
                    <?php endforeach;?>
                </ul>
                <php>if(count($contractMessage)>=5):</php>
                <div><a href="{:U('/admin/Index/ajaxMessageMore',array('type'=>'workFlowMessage','messageType'=>2))}" style="float: right;" data-toggle="dialog" data-width="800" data-height="400" data-id="dialog-max" data-title="签约流程">更多...</a></div>
                <php>endif;</php>
            </fieldset>
        </div>
    </div>
</div>-->
