<div class="bjui-pageHeader">
    <form id="pagerForm" data-toggle="ajaxsearch" action="<?php echo U('RepaymentRecord/index', array('rp_id' => $rp_id))?>" method="post">
        <input type='hidden' name='isSearch' value='1'>
        <input type="hidden" name="pageSize" value="${model.pageSize}">
        <input type="hidden" name="pageCurrent" value="${model.pageCurrent}">
        <input type="hidden" name="orderField" value="${param.orderField}">
        <input type="hidden" name="orderDirection" value="${param.orderDirection}">
        <div class="bjui-searchBar">
            <!--<button data-url="{:U('MpayRecord/add')}" class="btn btn-blue" data-toggle="dialog" data-icon="plus" data-mask='true' data-id="mapy-record-add">新增记录</button>-->
            <label>起始时间：</label><input type="text" value="{$post.begin_time}" data-toggle="datepicker" name="begin_time" class="form-control" size="12">&nbsp;
            <label>结束时间：</label><input type="text" value="{$post.end_time}" data-toggle="datepicker" name="end_time" class="form-control" size="12">&nbsp;
            <button type="submit" class="btn-default" data-icon="search">查询</button>&nbsp;
            <a class="btn btn-orange" href="javascript:;" data-toggle="reloadsearch" data-clear-query="true" data-icon="undo">清空查询</a>
        </div>
    </form>
</div>
<div class="bjui-pageContent tableContent">
    <table class="table table-bordered table-hover table-striped table-top">
        <thead>
            <tr>
                <th align="center" width="100">会员单位</th>
                <th align="center" width="150">实际还款金额(元)</th>
                <th data-order-direction="asc" data-order-field="real_repay_time" align="center" width="150">实际还款日期</th>
                <th align="center" width="100">还款凭证</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach($list as $v){?>
            <tr data-id="<?php echo $v['oid']?>">
                <td align="center"><?php echo $v['company_name']?></td>
                <td align="center"><?php echo number_format($v['repay_money'], 2)?></td>
                <td align="center"><?php echo empty($v['real_repay_time']) ? '--' : date('Y-m-d',$v['real_repay_time'])?></td>
                <td align="center"><a href="<?php echo $v['repay_pic']?>" target="_blank"><img src="<?php echo $v['repay_pic']?>" width="50" /></a></td>
            </tr>
            <?php }?>
        </tbody>
    </table>
</div>
<div class="bjui-pageFooter">
    <div class="pages">
        <span>每页&nbsp;</span>
        <div class="selectPagesize">
            <select data-toggle="selectpicker" data-toggle-change="changepagesize">
                <option value="30">30</option>
                <option value="60">60</option>
                <option value="120">120</option>
                <option value="150">150</option>
            </select>
        </div>
        <span>&nbsp;条，共 <?php echo $total?> 条</span>
    </div>
    <div class="pagination-box" data-toggle="pagination" data-total="<?php echo $total?>" data-page-size="30" data-page-current="1">
    </div>
</div>
<script>
    $(function(){
            for(var i=0;i<3;i++) {
                if($("select").get(0).options[i].value == '{$post.status}')  {
                    $("select").get(0).options[i].selected = true;  
                    break;
                }
            }
     })
    
</script>  