<div class="bjui-pageHeader">
    <form id="pagerForm" data-toggle="ajaxsearch" action="<?php echo U('Opinion/oplist')?>" method="post">
        <input type='hidden' name='isSearch' value='1'>
        <input type="hidden" name="pageSize" value="${model.pageSize}">
        <input type="hidden" name="pageCurrent" value="${model.pageCurrent}">
        <input type="hidden" name="orderField" value="${param.orderField}">
        <input type="hidden" name="orderDirection" value="${param.orderDirection}">
        <div class="bjui-searchBar">
            <button data-url="{:U('Opinion/add')}" class="btn btn-blue" data-toggle="dialog" data-icon="plus" data-mask='true' data-id="capital-flow-add"  data-height="700" data-width="1700">新增</button>&nbsp;
            <button data-url="/Admin/Opinion/edit/opinion_id/{#bjui-selected}" class="btn btn-blue" data-toggle="dialog" data-icon="edit" data-mask='true' data-id="capital-flow-edit"  data-height="700" data-width="1700">
                修改</button>&nbsp;
            <label>项目名称：</label><input type="text" value=""  name="pro_title" class="form-control" size="16">&nbsp;
            <label>起始时间：</label><input type="text" value="" data-toggle="datepicker" name="begin_time" class="form-control" size="12" >&nbsp;
            <label>结束时间：</label><input type="text" value="" data-toggle="datepicker" name="end_time" class="form-control" size="12">&nbsp;
            <button type="submit" class="btn-default" data-icon="search">查询</button>&nbsp;
            <a class="btn btn-orange" href="javascript:;" data-toggle="reloadsearch" data-clear-query="true" data-icon="undo">清空查询</a>
        </div>
    </form>
</div>
<div class="bjui-pageContent tableContent">
    <table class="table table-bordered table-hover table-striped table-top">
        <thead>
            <tr>
                <th  data-order-direction="asc" align="center" width="100">序号</th>
                <th align="center" data-order-direction="pro_title" width="100">项目名称</th>
                <th align="center" data-order-direction="addtime" width="100">添加时间</th>
                <th align="center" width="80">详细信息</th>
            </tr>
        </thead>
        <tbody>

        <foreach name="list" item="v">
            <tr data-id="{$v['opinion_id']}">
            <td align="center">{$v['opinion_id']}</td>
            <td align="center">{$v['pro_title']}</td>
            <td align="center">{$v['addtime']|date='Y-m-d',###}</td>
            <td align="center">
                <button data-url="/Admin/Opinion/showdetails/opinion_id/{$v['opinion_id']}" class="btn btn-blue" data-toggle="dialog" data-icon="plus" data-mask='true' data-id="capital-flow"  data-height="700" data-width="1400">更多</button>&nbsp;
            </td>
            </tr>
        </foreach>
        </tbody>
    </table>
</div>
<div class="bjui-pageFooter">
    <div class="pages">
        <span>每页&nbsp;</span>
        <div class="selectPagesize">
            <select data-toggle="selectpicker" data-toggle-change="changepagesize">
                <option value="30">30</option>
                <option value="60">60</option>
                <option value="120">120</option>
                <option value="150">150</option>
            </select>
        </div>
        <span>&nbsp;条，共 <?php echo $total?> 条</span>
    </div>
    <div class="pagination-box" data-toggle="pagination" data-total="<?php echo $total?>" data-page-size="30" data-page-current="1">
    </div>
</div>