<table>
<thead>
            <tr>
                <th  align="center" width="100">地区</th>
                <th  align="center" width="100">部门</th>
                <th  align="center" width="80">姓名</th>
                <th  align="center" width="50">进款金额(万元)</th>
                <th align="center" width="50">分部合计(万元)</th>
                <th align="center" width="50">总合计(万元)</th>
            </tr>
        </thead>
        <tbody>
            <foreach name="list" item="v" key="k">
                <php>$area=-1;$depar=-1;</php>
                <foreach name="v" item="vv" key="kk">
                    <foreach name="vv" item="vvv" key="kkk">
                        <tr>
                            <td rowspan="<php> $area= $area==-1?$v['num']:$area; echo $v['num'];</php>" style="display: <php> if($area!=$v['num']){echo 'none';}else{echo 'table-cell';} </php>" align="center">
                                <php>echo getbname($btable,$vvv['branch_id']);</php>
                            </td>
                            <td rowspan="<php> $depar= $depar==-1?count($vv):$depar; echo count($vv);</php>" style="display: <php>if($depar!=count($vv)){echo 'none';}else{echo 'table-cell';} </php>" align="center"><php>echo getbname($btable,$vvv['branch_ch_id']);</php></td>
                            <td align="center">{$vvv['real_name']}</td>
                            <td align="center">{$vvv['money']}</td>
                            <td rowspan="<php> $depar= $depar==-1?count($vv):$depar; echo count($vv);</php>" style="display: <php>if($depar!=count($vv)){echo 'none';}else{echo 'table-cell';} $depar--;</php>" align="center"><php>echo getcolvars($vv,'money');</php></td>
                            <td rowspan="<php> $area= $area==-1?$v['num']:$area; echo $v['num'];</php>" style="display: <php> if($area!=$v['num']){echo 'none';}else{echo 'table-cell';} $area--;</php>" align="center">
                                {$v['summoney']}
                            </td>
                        </tr>
                    </foreach>
                    <php>$depar=-1;</php>
                </foreach>
            </foreach>
        </tbody>
</table>