<style type="text/css">
    .none{
        display: none;
    }
</style>
<div class="bjui-pageHeader">
    <if condition="$m eq 'week'">
         <form id="pagerForm" data-toggle="ajaxsearch" action="<?php echo U('FundManage/weekJournaling')?>" method="post">
    <else/>
        <form id="pagerForm" data-toggle="ajaxsearch" action="<?php echo U('FundManage/monthJournaling')?>" method="post">
    </if>
        <input type='hidden' name='isSearch' value='1'>
        <input type="hidden" name="pageSize" value="${model.pageSize}">
        <input type="hidden" name="pageCurrent" value="${model.pageCurrent}">
        <input type="hidden" name="orderField" value="${param.orderField}">
        <input type="hidden" name="orderDirection" value="${param.orderDirection}">

        <div class="bjui-searchBar">
            <label>客户经理：</label><input type="text" id="real_name" value="{$post.real_name}" name="real_name" class="form-control" size="10">&nbsp;
            <label>地区:</label>
            <select name="branch_id" data-toggle="selectpicker" data-nextselect="#j_form_city<php>if($m == 'week'){echo 2;}else{echo 3;}</php>" data-refurl="/Admin/FundManager/childBranch/branch_id/{value}.html">
                <option value="all">--地区--</option>
                <?php foreach($branch_list as $v){ ?>
                <option value="<?php echo $v['branch_id']?>"><?php echo $v['branch_name']?></option>
                <?php  }?>
            </select>
            <select name="branch_ch_id" id="j_form_city<php>if($m == 'week'){echo 2;}else{echo 3;}</php>" data-toggle="selectpicker" data-emptytxt="--分部--">
                <option value="">--分部--</option>
            </select>
            <label>起始时间：</label><input type="text" value="{$post.begin_time}" data-toggle="datepicker" name="begin_time" class="form-control" size="12">&nbsp;
            <label>结束时间：</label><input type="text" value="{$post.end_time}" data-toggle="datepicker" name="end_time" class="form-control" size="12">&nbsp;
            <if condition="$m eq 'month'">
            <label>月份：</label>
            <select data-toggle="selectpicker" name="monthtime" data-width="200" id="monthtime">
                <option value="">全部</option>
                <option value="01">一月</option>
                <option value="02">二月</option>
                <option value="03">三月</option>
                <option value="04">四月</option>
                <option value="05">五月</option>
                <option value="06">六月</option>
                <option value="07">七月</option>
                <option value="08">八月</option>
                <option value="09">九月</option>
                <option value="10">十月</option>
                <option value="11">十一月</option>
                <option value="12">十二月</option>
            </select>
            </if>
            <button type="submit" class="btn-default" data-icon="search">查询</button>&nbsp;
            <a class="btn btn-orange" href="javascript:;" data-toggle="reloadsearch" data-clear-query="true" data-icon="undo">清空查询</a>
        </div>
    </form>


</div>
<div class="bjui-pageContent tableContent">
    <table class="table table-bordered table-hover table-striped table-top">
        <thead>
            <tr>
                <th  align="center" width="100">地区</th>
                <th  align="center" width="100">部门</th>
                <th  align="center" width="80">姓名</th>
                <th  align="center" width="50">进款金额(万元)</th>
                <th align="center" width="50">分部合计(万元)</th>
                <th align="center" width="50">总合计(万元)</th>
            </tr>
        </thead>
        <tbody>
            <foreach name="list" item="v" key="k">
                <php>$area=-1;$depar=-1;</php>
                <foreach name="v" item="vv" key="kk">
                    <foreach name="vv" item="vvv" key="kkk">
                        <tr>
                            <td rowspan="<php> $area= $area==-1?$v['num']:$area; echo $v['num'];</php>" style="display: <php> if($area!=$v['num']){echo 'none';}else{echo 'table-cell';} </php>" align="center">
                                <php>echo getbname($btable,$vvv['branch_id']);</php>
                            </td>
                            <td rowspan="<php> $depar= $depar==-1?count($vv):$depar; echo count($vv);</php>" style="display: <php>if($depar!=count($vv)){echo 'none';}else{echo 'table-cell';} </php>" align="center"><php>echo getbname($btable,$vvv['branch_ch_id']);</php></td>
                            <td align="center">{$vvv['real_name']}</td>
                            <td align="center">{$vvv['money']|number_format=###,2}</td>
                            <td rowspan="<php> $depar= $depar==-1?count($vv):$depar; echo count($vv);</php>" style="display: <php>if($depar!=count($vv)){echo 'none';}else{echo 'table-cell';} $depar--;</php>" align="center"><php>echo number_format(getcolvars($vv,'money'),2);</php></td>
                            <td rowspan="<php> $area= $area==-1?$v['num']:$area; echo $v['num'];</php>" style="display: <php> if($area!=$v['num']){echo 'none';}else{echo 'table-cell';} $area--;</php>" align="center">
                                {$v['summoney']|number_format=###,2}
                            </td>
                        </tr>
                    </foreach>
                    <php>$depar=-1;</php>
                </foreach>
            </foreach>
        </tbody>
    </table>
</div>
<div class="bjui-pageFooter">
    <div class="pages">
        <span>每页&nbsp;</span>
        <div class="selectPagesize">
            <select data-toggle="selectpicker" data-toggle-change="changepagesize">
                <option value="30">30</option>
                <option value="60">60</option>
                <option value="120">120</option>
                <option value="150">150</option>
            </select>
        </div>
        <span>&nbsp;条，共 <?php echo $total?> 条</span>
    </div>
    <div class="pagination-box" data-toggle="pagination" data-total="<?php echo $total?>" data-page-size="30" data-page-current="1">
    </div>
</div>
<script type="text/javascript">
    $(function(){
        var m="{$month}";
        var begin_time="{$times['begin_time']}";
        var end_time="{$times['end_time']}";
        var monthtime="{$post.monthtime}";
        if(m){
            $('#monthtime option').each(function(){
                if($(this).val()==m){
                    $(this).attr('selected','selected');
                }
            }); 
        }else{
            $('#monthtime').val(monthtime);
        }
        if(begin_time){
            $('input[name=begin_time]').val(begin_time);
        }
        if(end_time){
            $('input[name=end_time]').val(end_time);
        }
    });
</script>