<div class="bjui-pageHeader">
    <form id="pagerForm" data-toggle="ajaxsearch" action="<?php echo U('Bill/index', array('pro_id' => $pro_id))?>" method="post">
        <input type='hidden' name='isSearch' value='1'>
        <input type="hidden" name="pageSize" value="${model.pageSize}">
        <input type="hidden" name="pageCurrent" value="${model.pageCurrent}">
        <input type="hidden" name="orderField" value="${param.orderField}">
        <input type="hidden" name="orderDirection" value="${param.orderDirection}">
    </form>
</div>
<div class="bjui-pageContent tableContent">
    <table class="table table-bordered table-hover table-striped table-top">
        <thead>
            <tr>
                <th data-order-field="pro_no" align="center" width="100">登记日期</th>
                <th align="center" width="100">开票抬头</th>
                <th align="center" width="100">开票单位</th>
                <th align="center" width="100">税务识别号</th>
                <th data-order-field="interest"  align="center" width="80">负责人</th>
                <th data-order-field="interest"  align="center" width="80">打款日期</th>
                <th data-order-field="interest"  align="center" width="80">收款账户</th>
                <th data-order-field="interest"  align="center" width="80">收款卡号</th>
                <th align="center" width="150">地址</th>
                <th align="center" width="100">电话</th>
                <th data-order-field="interest"  align="center" width="80">开票截止日期</th>
                <th data-order-field="interest"  align="center" width="80">金额</th>
                <th data-order-field="interest"  align="center" width="80">开票项目</th>
                <th align="center" width="80">备注</th>
                <th align="center" width="80">是否开票</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach($list as $v){?>
            <tr data-id="<?php echo $v['oid']?>">
                <td align="center"><?php echo date('Y-m-d',$v['addtime'])?></td>
                <td align="center"><?php echo $v['tax_title']?></td>
                <td align="center">国投保理</td>
                <td align="center"><?php echo $v['tax_no']?></td>
                <td align="center"><?php echo $v['real_name']?></td>
                <td align="center"><?php echo date('Y-m-d',$v['pay_time'])?></td>
                <td align="center"><?php echo $v['bank_name']?></td>
                <td align="center"><?php echo $v['bank_no']?></td>
                <td align="center"><?php echo $v['address']?></td>
                <td align="center"><?php echo $v['tel']?></td>
                <td align="center"><?php echo date('n',$v['addtime'])?>月</td>
                <td align="center"><?php echo number_format($v['money'], 2)?></td>
                <td align="center"><?php echo $v['bill_type'] == 1 ? '金融服务费' : '投资顾问费'?></td>
                <td align="center"><?php echo $v['remark']?></td>
                <td align="center" <?php echo $v['status'] == 'wkj' ? 'class="red"' : ''?>><?php echo $status_describe[$v['status']]?></td>
            </tr>
            <?php }?>
        </tbody>
    </table>
</div>
<div class="bjui-pageFooter">
    <div class="pages">
        <span>每页&nbsp;</span>
        <div class="selectPagesize">
            <select data-toggle="selectpicker" data-toggle-change="changepagesize">
                <option value="30">30</option>
                <option value="60">60</option>
                <option value="120">120</option>
                <option value="150">150</option>
            </select>
        </div>
        <span>&nbsp;条，共 <?php echo $total?> 条</span>
    </div>
    <div class="pagination-box" data-toggle="pagination" data-total="<?php echo $total?>" data-page-size="30" data-page-current="1">
    </div>
</div>
<script>
    $(function () {
        var selectObj = $("#select_status").get(0);
        for (var i = 0; i < selectObj.length; i++) {
            if (selectObj.options[i].value == '{$post.status}') {
                selectObj.options[i].selected = true;
                break;
            }
        }
    })

</script>  