<style type="text/css">
    .conth{
        width:80px;
        text-align: center;
        font-weight: bolder;
    }
</style>
<div class="bjui-pageContent">
    <form action="<?php echo U('RequestFound/saveRequestFound')?>" id="j_custom_form" data-toggle="validate" data-alertmsg="false" method="post">
        <input type="hidden" name="bid">
        <input type="hidden" name="borrow_name_type">
        <table class="table table-bordered" data-selected-multi="true">
            <tbody>
            <tr data-id="1">
                <td class="conth" style="width:112px;">申请部门:</td>
                <td> <input type="text" name="applicant" value="项管部"></td>
                <td class="conth">申请人:</td>
                <td><input type="text" name="name" value="{$admin.real_name}"></td>
                <td class="conth">申请时间:</td>
                <td> <input type="text"  value="<?php echo date('Y-m-d', time())?>" name="addtime" data-toggle="datepicker" data-nobtn="true" placeholder="点击选择日期"></td>
            </tr>

            <tr data-id="2">
                <td class="conth">产品名称:</td>
                <!--<td><input type="text" name="product_name" ></td>-->
                <td><input type="text" name="product_name" id="p_company" value=""  style="padding-right: 4px;" data-toggle="lookup" data-url="<?php echo U('Operation/aysnProjectInfo')?>" data-width="900" data-height="500" readonly></td>
                <td class="conth">满标日:</td>
                <td><input type="text" name="full_scale_time" value="" ></td>
                <td class="conth">合同编号:</td>
                <td><input type="text" name="contract_num" ></td>
            </tr>
            <tr data-id="3">
                <td class="conth">融资额度（万元）:</td>
                <td><input type="text" name="collect_money" id="col_money"></td>
                <td class="conth">大麦居间服务费（包含在<span id="service">0元</span>内）:</td>
                <td><input type="text" name="charge_money" ></td>
                <td class="conth">放款额（元）:</td>
                <td><input type="text" value="" size="20" name="loan_money" class="conmoney" ajax_name="s_cmoney" data-rule="required"></td>
            </tr>
            <tr data-id="4">
                <td class="conth">融资期限:</td>
                <td>
                    <input type="text" name="limit_time"  size="15">
                    <select  name="time_type">
                        <option value="2">天</option>
                        <option value="1">月</option>
                    </select>
                </td>

            </tr>
            <tr data-id="5">
                <td class="conth">融资方:</td>
                <td colspan="5">
                    <php>
                        foreach(C('trade_type') as $k => $v){
                    </php>
                    <input type="checkbox" name="trade_type[]" data-rule="checked" id="j_form_checkbox1" value="<php>echo $k;</php>" data-toggle="icheck" data-label="<php>echo $v;</php>">
                    <php> }</php>
                </td>
            </tr>
            <tr>
                <td class="conth">支付方式:</td>
                <td colspan="5">
                    <php>
                        foreach(C('contract_pay_type') as $k => $v){
                    </php>
                    <input type="radio" name="pay_type" data-rule="checked" id="radio" value="<php>echo $k;</php>" data-toggle="icheck" data-label="<php>echo $v;</php>">
                    <php> }</php>
                </td>
            </tr>
            <if>
            <tr class="requestMoney" >
                <td  class="conth"> 请款说明</td>
                <td align="center"> 居间服务费:</td>
                <td colspan="4">费率: <input type="text" name="charge_rate"> 融资金额: <input type="text" name="collect_money_2"></td>
            </tr>
            </if>
            <tr >
                <td rowspan="6" class="conth"> 收款方信息</td>
                <td class="conth"> 是否监管账户:</td>
                <td>
                    <input type="radio" name="supervise" id="" data-rule="checked" value="1" data-toggle="icheck" data-label="是" >
                    <input type="radio" name="supervise" id="" data-rule="checked" value="2" data-toggle="icheck" data-label="否" >
                </td>
            </tr>
            <tr>
                <td class="conth"> 人民币小写:</td>
                <td colspan="5"><input type="text" value="" size="20" name="loan_money" ajax_name="s_cmoney" data-rule="required" readonly></td>
            </tr>
            <tr>
                <td class="conth"> 人民币大写:</td>
                <td colspan="5"><input type="text" name="s_cmoney" value="" size="30"  readonly></td>
            </tr>
            <tr>
                <td class="conth"> 户名:</td>

                <td colspan="5"><input type="text" value="" name="account_name" data-toggle="lookup" data-url="/Admin/Bank/lookupOa.html"  size="50" data-width="700" data-height="600" data-rule="required"></td>
            </tr>

            <tr>
                <td class="conth">开户银行:</td>
                <td colspan="5"><input type="text" value=""  name="bank_name" size="50" data-rule="required"></td>
            </tr>
            <tr>
                <td class="conth">账号:</td>
                <td colspan="5"><input type="text" value="" name="bank_num" size="50" data-rule="required"></td>
            </tr>
            <tr class="chargeRate">
                <td rowspan="4" class="conth">
                    居间费收款方信息
                </td>
            </tr>
            <tr class="chargeRate">
                <td class="conth"> 户名:</td>

                <td colspan="5"><input type="text" value="" name="charge_account_name" data-toggle="lookup" data-url="/Admin/Bank/lookupCharge.html"  size="50" data-width="700" data-height="600" data-rule="required"></td>
            </tr>

            <tr class="chargeRate">
                <td class="conth">开户银行:</td>
                <td colspan="5"><input type="text" value=""  name="charge_bank_name" size="50" data-rule="required"></td>
            </tr>
            <tr class="chargeRate">
                <td class="conth">账号:</td>
                <td colspan="5"><input type="text" value="" name="charge_bank_num" size="50" data-rule="required"></td>
            </tr>

            <php>if(in_array($type,array(1,2,3))):</php>
            <tr class="requestMoney">
                <td rowspan="3" class="conth" id="information"> 请款说明</td>
                <td class="conth"> 人民币小写:</td>
                <td colspan="5"><input type="text" name="loan_money" value="" size="30"  readonly></td>
            </tr>
            <tr >
                <td class="conth"> 人民币大写:</td>
                <td colspan="5"><input type="text" name="s_cmoney" value="" size="30"  readonly></td>
            </tr>
            <tr id="deposit" >
                <td class="conth">保证金是否已付:</td>
                <td colspan="2" align="center">
                    <input type="radio" name="bail_status" id="" data-rule="checked" value="1" data-toggle="icheck" data-label="已付" >
                    <input type="radio" name="bail_status" id="" data-rule="checked" value="2" data-toggle="icheck" data-label="未付">
                </td>
                <td>担保企业：</td>
                <td><input type="text" name="warrant_company"></td>
            </tr>
            <tr >
                <td  class="conth"> 其它情况说明:</td>
                <td  colspan="5"><textarea name="otherinfo" cols="40" rows="4"></textarea></td>
            </tr>
            <php>endif;</php>
            </tbody>
        </table>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close" data-icon="close">取消</button></li>
        <li><button type="submit" class="btn-default" data-icon="save">签名并保存</button></li>
    </ul>
</div>
<script>
    $(function(){
        //$('.chargeRate').css({'display':'none'});

        $('#pro').change(function(){
            var pro_con=$(this).children('option:selected').attr('pro_con');
            $('input[name=project_con]').val(pro_con);

        });


        //人民币大小写动态关联显示
        $('.conmoney').change(function(){
           // debugger
            var money=$(this).val().trim();
            var name=$(this).attr('name');
            var ajax_name=$(this).attr('ajax_name');
            $('input[name='+ajax_name+']').val(DX(money));
            $('input[name='+name+']').val(money);
        });
        //动态更改居费率显示
/*        $('#col_money').change(function () {
           var collect_money=$(this).val();
            $('#service').html(collect_money+'W');
        });*/
        //动态更改情况说明的样式
/*        if($('#deposit').is(':visible')){
            var rows=$('#information').attr('rowspan');
           $('#information').attr('rowspan',parseInt(rows)+1);
       }*/
        //只显示一个情况说明，当第2个情况说明显示的时候，就把第一个情况说明给屏蔽掉
        var requestMoney=$('.requestMoney');
        if(requestMoney.length>1 && $('.requestMoney').eq(1).is(':visible')){
            requestMoney.first().hide();
        }
    });
    function DX(n) {
        if (!/^(0|[1-9]\d*)(\.\d+)?$/.test(n))
            return "数据非法";
        var unit = "千百拾亿千百拾万千百拾元角分", str = "";
        n += "00";
        var p = n.indexOf('.');
        if (p >= 0)
            n = n.substring(0, p) + n.substr(p + 1, 2);
        unit = unit.substr(unit.length - n.length);
        for (var i = 0; i < n.length; i++)
            str += '零壹贰叁肆伍陆柒捌玖'.charAt(n.charAt(i)) + unit.charAt(i);
        return str.replace(/零(千|百|拾|角)/g, "零").replace(/(零)+/g, "零").replace(/零(万|亿|元)/g, "$1").replace(/(亿)万|壹(拾)/g, "$1$2").replace(/^元零?|零分/g, "").replace(/元$/g, "元整");
    }
    $("select[name=time_type]").on('afterchange.bjui.lookup', function(e, data) { //查找找回

        //$("select[name=time_type]").val(data.value);
       $("select[name=time_type]").find('option[value='+data.value+']').attr('selected',true)

    })
    $('input[name=loan_money]').on('afterchange.bjui.lookup', function(e, data) { //查找找回
        $('input[name=s_cmoney]').val(DX(data.value))
    })
    $('input[name=borrow_name_type]').on('afterchange.bjui.lookup', function(e, data) { //查找找回
      //  $('input[name=s_cmoney]').val(DX(data.value))
        if(data.value==7)
        {
            //alert(1)
        }
        else
        {
            //alert(2)
        }
    })



</script>