<div class="bjui-pageHeader" style="background:#FFF;">
    <div style="margin-top:5px; overflow:hidden;">
        <div class="row" style="padding: 0 8px;">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">注意事项</h3></div>
                    <div class="panel-body bjui-doc" style="padding:0; height: 170px;overflow:hidden;">
                        <ul>
                            <li>文件夹上传功能<code>只支持谷歌浏览器</code>，如需使用请使用谷歌浏览器</li>
                            <li>文件夹上传功能<code>只能在项目未提交之前使用</code>，项目提交以后将禁止使用文件夹上传功能</li>
                            <li>文件夹上传功能一次上传文件较多较大的时候，请耐心等待</li>
                            <li>资料包中的上传文件有多选功能（图一）</li>
                            <li>上传文件后缀包括<code>（'jpg', 'gif', 'png', 'jpeg', 'pdf', 'doc', 'docx', 'ppt', 'pptx', 'xlsx', 'xls'）</code></li>
                            <li>文件上传时，如果文件内容没有改动，将上传失败。单文件上传有提示信息，文件夹上传将不做提示</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bjui-pageContent">
    <!--    <div style="float:left; width:200px;">
            <ul id="layout-tree" class="ztree" data-toggle="ztree" data-expand-all="true" data-on-click="do_open_layout">
                <li data-id="1" data-pid="0">第一业务</li>
                <li data-id="10" data-pid="0" data-url="layout/layout-01.html" data-divid="#layout-01">业务1</li>
                <li data-id="11" data-pid="0" data-url="layout/layout-02.html" data-divid="#layout-02">业务2</li>
                <li data-id="2" data-pid="0">第二业务</li>
                <li data-id="20" data-pid="0" data-url="layout/layout-03.html" data-divid="#layout-01">业务3</li>
                <li data-id="21" data-pid="0" data-url="layout/layout-04.html" data-divid="#layout-02">业务4</li>
            </ul>
        </div>-->
    
    <!--<div style="margin-top:5px; margin-right:50%; overflow:hidden;">-->
<!--        <div class="row" style="padding: 0 8px;">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">图一</h3></div>
                    <div class="panel-body bjui-doc" style="padding:0; height: 300px;overflow:hidden;">
                        <img src="__ADMIN__/images/tips/tips_upall1.png" >
                    </div>
                </div>
            </div>-->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">图二</h3></div>
                    <div class="panel-body bjui-doc" style="padding:0; height: 300px;overflow:hidden;">
                        <img src="__ADMIN__/images/tips/tips_upall2.png">
                    </div>
                </div>
            </div>
        </div>
    <!--</div>-->

<!--    <div style="position:absolute;top:15px;right:0;width:50%;">
        <div class="row" style="padding: 0 8px;">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">图一</h3></div>
                    <div class="panel-body bjui-doc" style="padding:0; height: 200px;overflow:hidden;">
                        <img src="__ADMIN__/images/tips/tips_upall1.png" width="400" height="200">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">第一：功能提示旁边的文件夹上传功能是</h3></div>
                    <div class="panel-body bjui-doc" style="padding:0; height: 200px;overflow:hidden;">
                        <img src="__ADMIN__/images/tips/tips_upall2.png" width="400" height="200">
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>