<div class="bjui-pageHeader">
    <form id="pagerForm" data-toggle="ajaxsearch" action="<?php echo U('ProjectDebtDetail/specified', array('debt_all_id' => $debt_all_id))?>" method="post">
        <input type="hidden" name="isSearch" value="1">
        <input type="hidden" name="pageSize" value="${model.pageSize}">
        <input type="hidden" name="pageCurrent" value="${model.pageCurrent}">
        <input type="hidden" name="orderField" value="${param.orderField}">
        <input type="hidden" name="orderDirection" value="${param.orderDirection}">
        <div class="bjui-searchBar">
            <button data-url="/Admin/ProjectDebtDetail/add.html?debt_all_id=<?php echo $debt_all_id?>" class="btn btn-blue" data-toggle="dialog" data-width='500' data-height="300" data-mask='true' data-icon="plus" data-id="project-loan">添加债权</button>
            <label>状态:</label>
            <select name="status" data-toggle="selectpicker">
                <option value="">全部</option>
                <option value="0">作废</option>
                <option value="1">正常</option>
                <option value="2">已还款</option>
            </select>&nbsp;
            <label>债权编号：</label><input type="text" value="{$post.debt_no}" name="debt_no" class="form-control" size="8">&nbsp;
            <button type="submit" class="btn-default" data-icon="search">查询</button>&nbsp;
            <a class="btn btn-orange" href="javascript:;" data-toggle="reloadsearch" data-clear-query="true" data-icon="undo">清空查询</a>
        </div>
        <div class="bjui-moreSearch">
            <label>职业：</label><input type="text" value="" name="profession" size="15" />
            <label>&nbsp;性别:</label>
            <select name="sex" data-toggle="selectpicker">
                <option value="">全部</option>
                <option value="true">男</option>
                <option value="false">女</option>
            </select>
            <label>&nbsp;手机:</label>
            <input type="text" value="" name="mobile" size="10">
        </div>
    </form>
</div>
<div class="bjui-pageContent tableContent">
    <table class="table table-bordered table-hover table-top">
        <thead>
            <tr>
                <th data-order-field="pro_title" align="center" width="300">项目名称</th>
                <th data-order-field="pro_no" align="center" width="300">项目编号</th>
                <th data-order-field="pro_title" align="center" width="300">债权编号</th>
                <th data-order-field="pro_real_money" align="center" width="300">放款额(元)</th>
                <th data-order-field="debt_account" align="center" width="300">债权金额(元)</th>
                <th data-order-field="real_name" align="center" width="150">负责人</th>
                <th data-order-direction="asc" data-order-field="start_time" align="center" width="300">起始时间</th>
                <th data-order-direction="asc" data-order-field="end_time" align="center" width="300">结束时间</th>
                <th data-order-field="status" align="center" width="100">状态</th>
                <th data-order-field="status" align="center" width="100">商票背书</th>
                <th width="300" align="center">操作</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach($list as $v){?>
            <tr data-id="<?php echo $v['debt_id']?>" class="<?php echo debt_tr_class($v['status'], $v['end_time'])?>" >
                <td align="center"><?php echo $v['pro_title']?></td>
                <td align="center"><?php echo $v['pro_no']?></td>
                <td align="center"><?php echo $v['debt_no']?></td>
                <td align="center"><?php echo number_format($v['debt_account'],2)?></td>
                <td align="center"><?php echo number_format($v['debt_value'],2)?></td>
                <td align="center"><?php echo $v['real_name']?></td>
                <td align="center"><?php echo date('Y-m-d',$v['start_time'])?></td>
                <td align="center"><?php echo date('Y-m-d',$v['end_time'])?></td>
                <td align="center"><?php echo debtStatusStr($v['status'])?></td>
                <td align="center"><?php echo debtTypeStr($v['type'])?></td>
                <td align="center">
                    <?php if($v['status'] == 1 && $v['end_time'] >= time()) {?>
                    <a href="<?php echo U('ProjectDebtDetail/exchange', array('debt_id'=>$v['debt_id'],'debt_all_id'=>$v['debt_all_id']))?>" class="btn btn-green" data-toggle="dialog" data-id="project-debt-exchange" data-mask='true'>换质</a>
                    <a href="<?php echo U('ProjectDebtDetail/edit', array('debt_id'=>$v['debt_id'],'debt_all_id'=>$v['debt_all_id']))?>" class="btn btn-green" data-toggle="dialog" data-id="project-debt-edit" data-mask='true'>编辑</a>
                    <?php }?>
                    <a href="<?php echo U('ProjectDebtDetail/file', array('debt_id'=>$v['debt_id']))?>" class="btn btn-green" data-toggle="dialog" data-id="project-debt-exchange" data-mask='true'>文件夹</a>
                </td>
            </tr>
            <?php }?>
        </tbody>
    </table>
</div>
{//分页组件}
{:W('Layout/PageFooter', array($total))}
<script>
    $(function(){
            for(var i=0;i<3;i++) {
                if($("select").get(0).options[i].value == '{$post.status}')  {
                    $("select").get(0).options[i].selected = true;  
                    break;
                }
            }
     })
    
</script>    