<style type="text/css">
    .conth{
        width:80px;
        text-align: center;
        font-weight: bolder;
    }
</style>
<form action="<?php echo U('ProjectDebt/editForPayment')?>" id="j_custom_form" data-toggle="validate" data-alertmsg="false" method="post">
    <div class="bjui-pageContent">
        <input type="hidden" name="form_type" value="{$form_type}">
        <input type="hidden" name="pro_id" value="{$pro_id}">
        <input type="hidden" name="fp_id" value="{$id}">
        <input type="hidden" value="{$wf_id}" name="wf_id">
        <table class="table table-bordered" data-selected-multi="true">
            <tbody>
            <tr data-id="1">
                <td class="conth" style="width:112px;">申请部门：</td>
                <td> <input type="text" name="department" value="{$department}"></td>
                <td class="conth">申请人：</td>
                <td><input type="text" name="name" value="{$name}"></td>
                <td class="conth">申请时间：</td>
                <td> <input type="text"  value="{$addtime}" name="addtime" data-toggle="datepicker" data-nobtn="true" placeholder="点击选择日期"></td>
            </tr>
            <tr data-id="2">
                <td class="conth" style="width: 100px;">项目名称：</td>
                <td><input type="text" name="project_name" value="{$project_name}"  style="padding-right: 4px;" data-toggle="lookup" data-url="<?php echo U('Operation/aysnProjectInfo')?>" data-width="900" data-height="500" readonly></td>
                <td class="conth" style="width: 100px;">项目编号：</td>
                <td><input type="text" name="project_num" value="{$project_num}"></td>
                <td class="conth" style="width: 100px;">融资期限：</td>
                <td><input type="text" name="start_time" value="{$start_time}" size="15" data-toggle="datepicker" class="form-control" style="padding-right: 15px; width: 150px;">
                    --到--
                    <input type="text" name="end_time" value="{$end_time}" size="15" data-toggle="datepicker" class="form-control" style="padding-right: 15px; width: 150px;">
                </td>
            </tr>
            <tr data-id="3">
                <td class="conth" style="width: 100px;">担保方式：</td>
                <td colspan="6">
                    <php>
                        foreach(C('assure_type') as $k => $v){
                    </php>
                    <input type="checkbox" name="guarantee_type[]" <?php echo in_array($k,explode(',',$guarantee_type))?'checked':'';?> data-rule="checked" id="j_form_checkbox1" value="<php>echo $k;</php>" data-toggle="icheck" data-label="<php>echo $v;</php>">
                    <php> }</php>
                </td>
            </tr>
            <tr data-id="4">
                <td class="conth" style="width: 100px;">支付方式：</td>
                <td colspan="6">
                    <input type="checkbox" name="pay_type[]"  <?php echo $pay_type=='1'?'checked':''?>   value="1" data-toggle="icheck" data-label="退商业承兑汇票">
                </td>
            </tr>
            <tr data-id="8">
                <td rowspan="6" class="conth">收款明细</td>
                <td class="conth" rowspan="3"> 是否监管账户:
                    <input type="radio" name="supervise" <?php echo 1==$supervise?'checked':''?> data-rule="checked" value="1" data-toggle="icheck" data-label="是" >
                    <input type="radio" name="supervise" <?php echo 2==$supervise?'checked':''?> data-rule="checked" value="2" data-toggle="icheck" data-label="否" >
                </td>
            </tr>
            <tr>
                <td class="conth">收款金额：</td>
                <td colspan="5"><input type="text" value="{$amount}"  name="amount" size="50" data-rule="required"></td>
            </tr>
            <tr>
                <td class="conth">人民币大写：</td>
                <td colspan="5"><input type="text" value="{$amount_upper}"  name="amount_upper" size="50" data-rule="required"></td>
            </tr>
            <tr>
                <td class="conth"> 户名:</td>
                <td colspan="5"><input type="text" value="{$account_name}" name="account_name" data-toggle="lookup" data-url="/Admin/Bank/lookupOa.html"  size="50" data-width="700" data-height="600" data-rule="required"></td>
            </tr>
            <tr>
                <td class="conth">开户银行:</td>
                <td colspan="5"><input type="text" value="{$bank_name}"  name="bank_name" size="50" data-rule="required"></td>
            </tr>
            <tr>
                <td class="conth">账号:</td>
                <td colspan="5"><input type="text" value="{$bank_num}" name="bank_num" size="50" data-rule="required"></td>
            </tr>


            <tr data-id="10">
                <td rowspan="6" class="conth">请款明细</td>
                <td class="conth" rowspan="3"> 是否监管账户:
                    <input type="radio" name="supervise_out" <?php echo 1==$supervise_out?'checked':''?>  data-rule="checked" value="1" data-toggle="icheck" data-label="是" >
                    <input type="radio" name="supervise_out" <?php echo 2==$supervise_out?'checked':''?> data-rule="checked" value="2" data-toggle="icheck" data-label="否" >
                </td>
            </tr>
            <tr>
                <td class="conth">放款金额：</td>
                <td colspan="5"><input type="text" value="{$payment}"  name="payment" size="50" data-rule="required"></td>
            </tr>
            <tr>
                <td class="conth">人民币大写：</td>
                <td colspan="5"><input type="text" value="{$payment_out}"  name="payment_out" size="50" data-rule="required"></td>
            </tr>
            <tr>
                <td class="conth"> 户名:</td>
                <td colspan="5"><input type="text" value="{$payment_name}" name="payment_name" data-toggle="lookup" data-url="/Admin/Bank/lookupPay.html"  size="50" data-width="700" data-height="600" data-rule="required"></td>
            </tr>
            <tr>
                <td class="conth">开户银行:</td>
                <td colspan="5"><input type="text" value="{$payment_bank_name}"  name="payment_bank_name" size="50" data-rule="required"></td>
            </tr>
            <tr>
                <td class="conth">账号:</td>
                <td colspan="5"><input type="text" value="{$payment_bank_num}" name="payment_bank_num" size="50" data-rule="required"></td>
            </tr>


            <tr data-id="15" class="exchange">
                <td rowspan="4" class="conth">换质情况</td>
            </tr>
            <tr data-id="16" class="exchange">
                <td class="conth">到期债权：</td>
                <td class="conth">金额：</td>
                <td> <input type="text" name="due_money" value="{$due_money}"></td>
                <td class="conth">有效期：</td>
                <td><input type="text" name="due_time" value="{$due_time}" size="15" data-toggle="datepicker" class="form-control" style="padding-right: 15px; width: 150px;">

            </tr>
            <tr data-id="17" class="exchange">
                <td class="conth">换质债权：</td>
                <td class="conth">金额：</td>
                <td> <input type="text" name="exchange_money" value="{$exchange_money}"></td>
                <td class="conth">有效期：</td>
                <td><input type="text" name="exchange_time" value="{$exchange_time}" size="15" data-toggle="datepicker" class="form-control" style="padding-right: 15px; width: 150px;">

            </tr>
            <tr class="exchange">
                <td class="conth">其他情况说明：</td>
                <td  colspan="5"><textarea name="otherinfo" cols="40" rows="4"><?php echo $otherinfo;?></textarea></td>
            </tr>
            </tbody>
        </table>

    </div>
    <?php if($admin['role_id']=='2'):?>
    <div class="bjui-pageFooter">
        <ul style="margin-right: 10px;">
            <li><button type="button" class="btn-close" data-icon="close">取消</button></li>
            <li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
        </ul>
    </div>
    <?php endif;?>
</form>
<script>
    var form_type=$('input[name=form_type]');
    if(form_type.val()=='B')
    {
        $('.exchange').css({'display':'none'})
    }
    else
    {
        $('.exchange').css({'display':''})
    }
    var payment=$('input[name=payment]')
        $('input[name=payment_out]').val(DX(payment.val()))
    var amount=$('input[name=amount]')
        $('input[name=amount_upper]').val(DX(amount.val()))
    //amount_upper
    function DX(n) {
        if (!/^(0|[1-9]\d*)(\.\d+)?$/.test(n))
            return "数据非法";
        var unit = "千百拾亿千百拾万千百拾元角分", str = "";
        n += "00";
        var p = n.indexOf('.');
        if (p >= 0)
            n = n.substring(0, p) + n.substr(p + 1, 2);
        unit = unit.substr(unit.length - n.length);
        for (var i = 0; i < n.length; i++)
            str += '零壹贰叁肆伍陆柒捌玖'.charAt(n.charAt(i)) + unit.charAt(i);
        return str.replace(/零(千|百|拾|角)/g, "零").replace(/(零)+/g, "零").replace(/零(万|亿|元)/g, "$1").replace(/(亿)万|壹(拾)/g, "$1$2").replace(/^元零?|零分/g, "").replace(/元$/g, "元整");
    }
</script>
