<div class="bjui-pageHeader">
    <form id="pagerForm" data-toggle="ajaxsearch" action="<?php echo U('CapitalFlow/withBill', array('debt_all_id' => $debt_all_id))?>" method="post">
        <input type='hidden' name='isSearch' value='1'>
        <input type="hidden" name="pageSize" value="${model.pageSize}">
        <input type="hidden" name="pageCurrent" value="${model.pageCurrent}">
        <input type="hidden" name="orderField" value="${param.orderField}">
        <input type="hidden" name="orderDirection" value="${param.orderDirection}">
        <div class="bjui-searchBar">
            <label>流水类型:</label>
            <select name="status" data-toggle="selectpicker" id="select_status">
                <option value="">全部</option>
                <?php foreach($type_describe as $key => $val):?>
                <option value="<?php echo $key?>"><?php echo $val?></option>
                <?php endforeach;?>
            </select>&nbsp;
            <label>起始时间：</label><input type="text" value="{$post.begin_time}" data-toggle="datepicker" name="begin_time" class="form-control" size="12">&nbsp;
            <label>结束时间：</label><input type="text" value="{$post.end_time}" data-toggle="datepicker" name="end_time" class="form-control" size="12">&nbsp;
            <button type="submit" class="btn-default" data-icon="search">查询</button>&nbsp;
            <a class="btn btn-orange" href="javascript:;" data-toggle="reloadsearch" data-clear-query="true" data-icon="undo">清空查询</a>
        </div>
    </form>
</div>
<div class="bjui-pageContent tableContent">
    <table class="table table-bordered table-hover table-striped table-top">
        <thead>
            <tr>
                <th data-order-field="pro_no" align="center" width="200">项目标题</th>
                <th data-order-field="pro_no" align="center" width="200">打款公司</th>
                <th data-order-direction="asc" data-order-field="repay_time" align="center" width="100">金额(元)</th>
                <th data-order-field="principal" align="center" width="100">收/付款账户</th>
                <th data-order-direction="asc" data-order-field="real_repay_time" align="center" width="150">日期</th>
                <th data-order-field="interest"  align="center" width="80">类型</th>
                <th data-order-field="interest"  align="center" width="80">备注</th>
                <th data-order-field="interest"  align="center" width="80">备注</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach($list as $v){?>
            <tr data-id="<?php echo $v['oid']?>">
                <td align="center"><a href="<?php echo U('FinanceProject/detail', array('fp_id' => $v['fp_id']))?>" data-toggle="dialog" data-height='400'><?php echo $v['pro_title']?></a></td>
                <td align="center"><?php echo $v['company_name']?></td>
                <td align="center" <?php echo $v['money'] > 0 ? 'class="red"' : ''?>><?php echo number_format($v['money'], 2)?></td>
                <td align="center"><?php echo $v['bank_name']?></td>
                <td align="center"><?php echo date('Y-m-d',$v['pay_time'])?></td>
                <td align="center"><?php echo $type_describe[$v['type']]?></td>
                <td align="center"><?php echo $v['remark']?></td>
                <td>
                    <a href="javascript:;" data-toggle="lookupback" 
                       data-args="{
                       money:'<?php echo $v['money']?>', tax_title:'<?php echo $v['company_name']?>',
                       bank_name:'<?php echo $v['bank_name']?>', bank_no:'<?php echo $v['bank_no']?>',
                       bill_type_status:'<?php echo $v['type'] == 'counseling_fee' ? 2 : 1?>',
                       remark:'<?php echo $type_describe[$v['type']]?>',capital_id:'<?php echo $v['id']?>',
                       pay_time:'<?php echo date('Y-m-d',$v['pay_time'])?>',capital_id:'<?php echo $v['id']?>',
                       tax_no:'<?php echo $v['tax_no']?>',
                       address:'<?php echo $v['company_address']?>',tel:'<?php echo $v['company_phone']?>'
                       }" 
                       class="btn btn-blue" title="选择本项" data-icon="check">选择</a>
                </td>
            </tr>
            <?php }?>
        </tbody>
    </table>
</div>
<div class="bjui-pageFooter">
    <div class="pages">
        <span>每页&nbsp;</span>
        <div class="selectPagesize">
            <select data-toggle="selectpicker" data-toggle-change="changepagesize">
                <option value="30">30</option>
                <option value="60">60</option>
                <option value="120">120</option>
                <option value="150">150</option>
            </select>
        </div>
        <span>&nbsp;条，共 <?php echo $total?> 条</span>
    </div>
    <div class="pagination-box" data-toggle="pagination" data-total="<?php echo $total?>" data-page-size="30" data-page-current="1">
    </div>
</div>
<script>
    $(function () {
        var selectObj = $("#select_status").get(0);
        for (var i = 0; i < selectObj.length; i++) {
            if (selectObj.options[i].value == '{$post.status}') {
                selectObj.options[i].selected = true;
                break;
            }
        }
    })

</script>  