<div class="bjui-pageHeader">
    <form id="pagerForm" data-toggle="ajaxsearch" action="<?php echo U('Company/findHeaderToType');?>" method="post">
        <input type='hidden' name='isSearch' value='1'>
        <div class="bjui-searchBar">
            <label>知情人姓名：</label><input type="text" value="" name="real_name" size="10" />&nbsp;
            <label class="label-control">角色：</label>
                <select data-toggle="selectpicker" data-width="100" name="roleList" multiple>
                    <option value="{$hroleIds}" selected>全部</option>
                    <foreach name="roles" item="role">
                        <option value="{$role['role_id']}">{$role['role_name']}</option>
                    </foreach>
                </select>
            <input type="hidden" name="hroleIds" value='{$hroleIds}'/>
            <input type="hidden" name="hroleVals" value='{$hroleVals}'/>
            <button type="submit" class="btn-default" data-icon="search">查询</button>&nbsp;
            <a class="btn btn-orange" href="javascript:;" data-toggle="reloadsearch" data-clear-query="true" data-icon="undo">清空查询</a>&nbsp;
            <div class="pull-right">
                <input type="checkbox" name="lookupType" value="1" data-toggle="icheck" data-label="追加" checked>
            </div>
        </div>
    </form>
</div>

<div class="bjui-pageContent">
    <table class="table table-hover table-striped" data-width="100%">
        <thead>
        <tr>
            <th data-order-field="name">知情人姓名</th>
            <th data-order-field="name">知情人职位</th>
            <th width="28"><input type="checkbox" class="checkboxCtrl" data-group="ids" data-toggle="icheck"></th>
            <th width="74">操作</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($adminList as $v) {?>
        <tr>
            <td><?php echo $v['real_name']?></td>
            <td><?php echo $v['role_name']?></td>
            <td><input type="checkbox" name="ids" data-toggle="icheck" value="{auditor_id:'<?php echo $v['admin_id']?>', auditor_name:'<?php echo $v['real_name']?>'}"></td>
            <td>
                <a href="javascript:;" data-toggle="lookupback" data-args="{auditor_id:'<?php echo $v['admin_id']?>', auditor_name:'<?php echo $v['real_name']?>'}" class="btn btn-blue" title="选择本项" data-icon="check">选择</a>
            </td>
        </tr>
        <?php }?>
        </tbody>
    </table>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close" data-icon="close">关闭</button></li>
        <li><button type="button" class="btn-default" data-toggle="lookupback" data-lookupid="ids" data-warn="请至少选择一项职业"  data-icon="save">确定</button></li>
    </ul>
</div>