<div class="bjui-pageHeader">
    <div class="bjui-searchBar">
<!--
        <button data-url="{:U('SignApplyManage/exportOaDate',array('proId'=>$proId))}" class="btn btn-blue" data-toggle="dialog" data-height='400' data-icon="plus" data-id="Bank-add">导出Excel</button>
-->
        <a href="<?php echo U('SignApplyManage/exportOaDate',array('proId'=>$proId))?>" class="btn btn-green" onclick="doc_filedownload1(this); return false;" data-title="编辑-项目">下载Excel表格</a>
        &nbsp;
        <!--            <label>公司名称：</label><input type="text" id="company_name" value="{$post.company_name}" name="company_name" class="form-control" size="10">&nbsp;
                    <label>联系人姓名：</label><input type="text" value="{$post.company_linker}" name="company_linker" class="form-control" size="8">&nbsp;
                    <input type="checkbox" id="j_table_chk" value="true" data-toggle="icheck" data-label="我的客户">
                    <button type="button" class="showMoreSearch" data-toggle="moresearch" data-name="custom"><i class="fa fa-angle-double-down"></i></button>
                    <button type="submit" class="btn-default" data-icon="search">查询</button>&nbsp;-->
     <!--   <a class="btn btn-orange" href="javascript:;" data-toggle="reloadsearch" data-clear-query="true" data-icon="undo">清空查询</a>-->
    </div>
    <script>
        function doc_filedownload1(a) {
            $.fileDownload($(a).attr('href'), {
                failCallback: function(responseHtml, url) {
                    if (responseHtml.trim().startsWith('{')) responseHtml = responseHtml.toObj()
                    $(a).bjuiajax('ajaxDone', responseHtml)
                }
            })
        }
    </script>
    </div>
<div class="bjui-pageContent tableContent">
    <table class="table table-bordered table-hover table-striped table-top" data-selected-multi="true">
        <thead>
        <tr>
            <th align="center" width="300">合同编号</th>
            <th align="center" width="300">项目名称</th>
            <th align="center" width="300">申请人</th>
            <th align="center" width="300">募集额度</th>
            <th align="center" width="300">融资期限</th>
            <th align="center" width="200">满标时间</th>
            <th width="300" align="center">操作</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($list as $ko=>$vo):?>
                <td align="center">{$vo['contract_num']}</td>
                <td align="center">{$vo['product_name']}</td>
                <td align="center">{$vo['name']}</td>
                <td align="center">{$vo['collect_money']}</td>
                <td align="center">{$vo['limit_time']}<?php if($vo['time_type']==2){echo '天';}else{echo '个月';}?></td>
                <td align="center"><?php echo date('Y-m-d',$vo['full_scale_time'])?></td>
                <td align="center">
                        <a href="<?php echo U('RequestFound/editRequestFound', array('appId'=>$vo['id']))?>" class="btn btn-green" data-toggle="dialog" data-mask="true" data-height="1000" data-width="900" data-id="loanform-edit" data-reload-warn="本页已有打开的内容，确定将刷新本页内容，是否继续？" data-title="编辑">查看合同</a>
                </td>
            </tr>
      <?php endforeach;?>
        </tbody>
    </table>
</div>